<div class="callout callout--dark-alt">
    <p class="inline-highlight type-uppercase">2015 Annual Report</p>
    <h3>7 Big Ideas: Our summary on healthcare innovation</h3>
    <p>We condensed the best ideas from 2015's interviews and put them into a free ebook. Download your copy today.</p>
    <p><a href="/innovation/2015" class="button button--primary">Download Ebook <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
</div>