<%
unless defined?(quote_id)
    puts "The included partial needs a quote entry ID!"
    quote_id = nil
end
the_quote = data.site.quotes[quote_id]
unless defined?(container_color)
    container_color = "container-gray-11"
end
if defined?(background)
    section_attrs = %(class="section-article container-image--center #{container_color}" data-interchange="[#{background}, medium]")
else
    section_attrs = %(class="section-article #{container_color}")
end
%>
<section id="section-video" <%= section_attrs %>>
    <h3 class="headline-3 group text-center">Build <strong>Breakthrough</strong> Compliant Apps</h3>
    <div class="row">
        <div class="columns small-12 medium-6">
            <script src="https://fast.wistia.com/embed/medias/djywh7kkgd.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_djywh7kkgd popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
            
            <%#= 
            <a href="/blog/how-a-major-health-system-got-onto-aws-recapping-the-featured-session-today" title="Watch the session at AWS Re:Invent 2018"></a>
            partial "partials/snippets/button", 
                :locals => {
                    :label => "Read how MLH got on to AWS", 
                    :title => "Read more", 
                    :url => "/blog/how-a-major-health-system-got-onto-aws-recapping-the-featured-session-today", 
                    # :rel => "external", 
                    :button_classes => "button hollow small right", 
                    :icon => "icon-chevron-right", 
                    :icon_color => "blue", 
                    :icon_align => "right",
                    :data_track_group => "customers",
                    :item_id => "aws-mlh-video"
                }
            %>
        </div>
        <div class="columns small-12 medium-6">
            <div class="group">
                <blockquote class="quote--serif">
                <%= Kramdown::Document.new(the_quote["quote_body"]).to_html %>
                </blockquote>
                <%= partial("partials/snippets/person", :locals => { :p => the_quote.customer, :company => the_quote.customer.company_name } ) %>
                <!-- <h4 class="subhead--small text--spaced">Leadership Gallery</h4> -->
            </div>
        </div>
    </div>
    <div class="group text-center">
        <%= partial "partials/snippets/button", :locals => { :label => "Get the Case Study", :url => "/customer/methodist-lebonheur-healthcare", :button_classes => "button", :icon => "icon-download", :icon_color => "white", :icon_align => "right", :data_track_group => "case-study" } %>
    </div>
</section>
