<section id="innovation-gallery" class="section-article section--cta-blue container-image--center" data-interchange="[//images.contentful.com/189dvqdsjh46/24KaYDLfRW40mKMOuKEgsS/04a4779c83f98738cc15c9f37b636192/platform-integration-inverted-bg.png, medium]">
    <div class="row align-middle">
        <div class="columns small-12 medium-6">
            <h4 class="subhead--small text--spaced">Leadership Gallery</h4>
            <h2 class="headline-3">Rethinking Healthcare Technology</h2>
            <p>Expansive, useful, and original insights from key leaders about the complicated and multi-dimensional effort of digital transformation and innovation in the health care environment.</p>
            <p><a class="button button--light" href="/innovation/leadership-gallery/" title="Rethinking Healthcare Technology">Read Now</a></p>
        </div>
        <div class="columns small-12 medium-6">
            <script src="https://fast.wistia.com/embed/medias/ckf2qzc1fp.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.0% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_ckf2qzc1fp seo=false videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
        </div>
    </div>
</section>
