<% p = locals[:item]
# current_page.parent.data.title = p["title"]
%>
<% p["tags"].each do |tag| %>
    <% if tag.has_key?("tag_full") %>
        <span class="label hollow round"><%= tag["tag_full"] %></span>
    <% end %>
<% end %>
