@mixin color--white {
    background-color: $white;
}
@mixin color--dark {
    background-color: $color_deep;
    color: $white;
}
@mixin color--dark-alt {
    background-color: $color_deep-alt;
    color: $white;
}
@mixin color--blue {
    background-color: $color_prime;
    color: $color_white;
}
@mixin color--blue-bright {
    background: linear-gradient(to right, $color_prime-alt 0%, adjust-color($color_prime-alt, $hue: -20%, $lightness: 10%, $saturation: 80%) 100%);
    color: $white;
}
@mixin color--blue-alt{
    background-color: $color_prime-alt;
    color: $white;
}
@mixin color--blue-bright-noise {
    @include noisy;
    color: $color_white;
    // background: linear-gradient(to right, $color_prime-alt 0%, adjust-color($color_prime-alt, $hue: -20%, $lightness: 10%, $saturation: 80%) 100%);
    &:before {
        background: linear-gradient(to right, $color_prime-alt 0%, adjust-color($color_prime-alt, $hue: -20%, $lightness: 10%, $saturation: 80%) 100%);
    }
}
@mixin color--gray {
    background-color: $color_talk;
    background: linear-gradient(to bottom, $color_talk 0%, adjust-color($color_talk, $lightness: 15%) 100%);
    color: $color_white;
}
@mixin color--gray-light {
    background-color: $color_light-alt;
    color: $body-font-color;
}
@mixin color--white-to-gray-light {
    background-color: $gray-11;
    background: linear-gradient(-45deg, $white 0%, $gray-11 100%);
}
@mixin color--gray-dark {
    color: $color_white;
    background-color: $color_deep-alt;
    @include bg-noise;
}
@mixin color--gray-dark-grad {
    background-color: #2C2A2A;
    // background: linear-gradient(to top, $color_deep-alt 0%, adjust-color($color_deep-alt, $lightness: 10%) 100%);
    @include gradient(180deg, #2C2A2A 0%, #959595 100%);
    color: $color_white;
}

@mixin color--gray-dark-grad-noise {
    // @include noisy;
    color: $color_white;
    // @include gradient(-135deg, #2B2D45 0%, #1E2127 52%, #1E2127 100%);
    &:before{
        @include gradient(-135deg, #2B2D45 0%, #1E2127 52%, #1E2127 100%);
    }
}
@mixin color--grad-blue-waves {
    $c-light: hsl(211, 66%, 35%);
    $c-dark:  hsl(211, 66%, 20%);
    color: $color_white;
    @include gradient(55deg, $c-light 3%, $c-dark 27%, $c-light 27%, $c-dark 85%, $c-light 100%);
}

@mixin noisy {
    // color: $color_white;
    position: relative;
    &:before, &:after {
        content:"";
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
    }
    &:before{
        z-index:-2;
        // let the class that calls this mixin handle the gradient, ex:
        // background-image: radial-gradient(50% 50%, #17181D 50%, #17181D 83%);
    }
    &:after{
        opacity: 0.25; // global noise opacity. Can barely see it at .25.
        z-index:-1;
        @include bg-noise;
    }
}
@mixin color--purple-grad {
    background-color: $color_purple-deep;
    background: linear-gradient(to bottom, $color_purple-deep 0%, $color_deep-alt 20%, $color_deep-alt 80%, $color_purple-deep 100%);
    color: $color_white;
}
@mixin color--red {
    background-color: $color_service;
    color: $color_white;
}
@mixin color--red-dark {
    background-color: $color_service;
    color: $color_white;
}
@mixin color--tint {
    background: black(0.8);
    color: $color_white;
}
@mixin color--dark-alpha{
    background: rgba(0,0,0,0.3);
    color: $color_white;
}
@mixin color--red-dark {
    background-color: $color_service;
    color: white;
}
@mixin color--tint {
    background-color: black(0.8);
    color: white;
}
@mixin grad-bright ($angle: to right) { // super-saturated green-blue-purple for accent strips like .strip-bright
    @include gradient($angle, hsl(187,100%,50%) 1%, hsl(194,100%,50%) 22%, hsl(278,100%,50%) 100%);
}
@mixin gradient-cks($dir: to right) {
    /* blue to blue-purple */
    background: linear-gradient($dir, #4CC0F1 6.72%, #6929D1 96.96%);
    color: white;
}
@mixin gradient-cpaas($dir: to right) {
    /* blue-green */
    background: linear-gradient($dir, #008FDF -5.71%, #00E3BA 82.93%);
    color: white;
}
@mixin gradient-ccms($dir: to right) {
    /* blue-purple */
    background: linear-gradient($dir, #4C66F1 2.29%, #D129C3 98.71%);
    color: white;
}
@mixin gradient-cmi($dir: to right) {
    /* orange-red */
    background: linear-gradient($dir, #E85C86 16.59%, #EC7474 59.68%, #FFC177 99.57%);
    /* red-purple - orange */
    // background: linear-gradient($dir, #DD48AA 16.59%, #FFE177 99.57%);
    color: white;
}
@mixin gradient-services($dir: to right) {
    /* red - pale green */
    background: linear-gradient($dir, #E6699E 13.96%, #7AB2E9 57.53%, #08E1D4 96.11%);
    color: white;
}
@mixin gradient-greens($dir: to right) {
    /* Green Grad (Emissary) */
    // background: linear-gradient(169.97deg, #00ff8b -5.71%, #00BBC7 82.93%);
    background: linear-gradient(198.62deg, #00EE7B -4.44%, #00DAF8 95.67%);
    color: black;
}
@mixin gradient-greens-dark($dir: to right) {
    /* Green Grad (Emissary) */
    background: linear-gradient(194.33deg, #3FBA72 3.31%, #00AFAF 100.72%);
    color: white;
}

