ruby:
    case post._meta.content_type_id
        when "guides"
            url_segment = "guide"
            card_subhead = "Datica Guides"
            link_title = "Get the guide, '#{post.title}'"
            link_title_short = "Get your free Guide"
        when "reports"
            url_segment = "innovation"
            card_subhead = post.subhead
            link_title = "Get the latest report, '#{post.title}'"
            link_title_short = "Get your free Report"
    end
    related_post_path = "/" + url_segment + "/" + post.slug + "/"

    if post.has_key?("image_thumb")
        image_url = post.image_thumb.url
    elsif post.has_key?("share_image")
        image_url = post.share_image.url
    else
        image_url = nil
    end
    if defined?(size) && size == "large"
        card_size = ""
    else
        card_size = "text-small"
    end
    if defined?(fit) && fit == "edge"
        fit_classes = "no-radius"
    else
        fit_classes = nil
    end
    if defined?(style)
        case style
            when "dark"
                style_classes = "container-gray-4"
                link_style = "link--white"
            when "white"
                style_classes = "container-color--white drop"
                link_style = nil
            when "none"
                style_classes = nil
                link_style = nil
        end
    else
        style_classes = "container-gray-12 drop"
        link_style = nil
    end
    # if post.has_key?("summary") && post.summary != ""
    #     entry_summary = post.summary
    # elsif post.has_key?("lead") && post.lead != ""
    #     entry_summary = post.lead
    # else
    #     card_summary = nil
    # end
    # card_summary = truncate_words(strip_tags(entry_summary), :length => 45)

/ Renders a card inside a post loop. Post var must be injected - AW

div(class="#{style_classes} #{fit_classes}")
    - if defined?(desc) && desc == true
        - unless image_url == nil
            a href=related_post_path title=link_title
                img.lozad.group--sm src="#{loader_square}" data-src="#{image_url}?fit=thumb&w=240&h=240" alt="preview" width="180"
        .subheader-small
            = card_subhead
        h3.headline-4
            a class=link_style href=related_post_path title=link_title
                = post.title
        p.text-small = post.summary
        - if defined?(show_button) && show_button == true
            = partial "partials/snippets/button", :locals => { :label => link_title_short, :url => related_post_path, :button_classes => "button success", :icon => "icon-chevron-right", :icon_align => "right" }
    - else
        .subheader-small
            = card_subhead
        h3.headline-4
            a class=link_style href=related_post_path title=link_title
                = post.title
    /- if post.has_key?("image_thumb")
        a.text-center href=related_post_path title=link_title
            img.lozad.product-thumb alt="preview" src="#{image_url}?fit=thumb&w=200&fm=jpg&q=10" data-src="#{image_url}?fit=thumb&w=450" style="padding: 0 1rem 0 1rem;" /
