// ====== SVG icon & logo attributes ======

.icon {
    &-inline {
        vertical-align: baseline;
        width: 1em; // using 1em here makes it same height as text, good for inline
        height:1em;
        margin-bottom: -0.1em; // slight nudge down
        &--white{
            fill: white;
        }
    }
    &-size {
        &--small { // inline with content
            width:  $thing-s;
            height: $thing-s;
            @media all and (max-width: 40rem){
                height: auto;
            }
            // vertical-align: middle;
        }
        &--medium {
            width:  $thing-m;
            width:  $thing-m;
            height: $thing-m;
            // vertical-align: middle;
        }
        &--large {
            width:  $thing-l;
            height: $thing-l;
            // vertical-align: middle;
        }
        &--xlarge {
            width:  $thing-l * 1.5;
            height: $thing-l * 1.5;
            // vertical-align: middle;
        }
    }
    // for inline icons, extra space before/after next to text. Default .menu behavior from ZF targets things inside menu elements.
    &-before {
        padding-right: 0.3em;
        margin-left: 0;
    }
    &-after {
        padding-left: 0.3em;
        margin-right: 0;
    }
}
.icon-inline {
    &.icon-left {
        margin-right: 0.3em;
    }
    &.icon-right {
        margin-left: 0.3em;
    }
}

// logos are non-square and need different attributes. If there's a more elegant way to do this, I'm all ears. - AW

.logo {
    &-size {
        // gotta say, these sizes are kinda fuct and it's my fault - AW
        &--small { // inline with content
            max-height: $thing-s;
            // @include breakpoint(medium up) {
            //     max-width: 90%; // avoid combining this and declared max-height at small viewports.
            //     max-height: $thing-s;
            // }
        }
        &--small-mid{
            max-width: 90%;
            max-height: 2rem;
            // max-height: $thing-s;
            // @include breakpoint(medium up){
            //     max-height: 2rem;
            // }
        }
        &--medium {
            max-width: 90%;
            max-height: $thing-m;
            // max-height: $thing-s;
            // @include breakpoint(medium up) {
            //     max-height: $thing-m;
            // }
        }
        &--large {
            max-width: 90%;
            max-height: $thing-l;
            // max-height: $thing-s;
            // @include breakpoint(medium up) {
            //     max-height: $thing-l;
            // }
        }
        &--xlarge {
            max-height: $thing-xl;
            // max-height: $thing-l;
            // @include breakpoint(medium up) {
            //     max-height: $thing-l * 2;
            // }
        }
    }
    &-basic {
        max-width: 90vw;
        height: $thing-l;
        @include breakpoint(medium up) {
            height: $thing-m;
        }
    }
    &-style {
        &--monochrome {
            @extend .grayscale;
        }
        &--brightness-invert{
            @extend .brightness-invert;
        }
    }
}
// legacy? Not used widely
.logo { 
    &--customer {
        height: 6vw;
        @include breakpoint(medium up) {
            height: 3vw;
        }
        @include breakpoint(large up) {
            height: 2.5vw;
        }
    }
    &--nav {
        width: 100px;
        height: 22px; // how can we do this responsively?
        min-width: 50px;
        &:hover path{
            fill: hsl(188, 100%, 89%);
        }
    }
}
// for logo clouds. Wrap logos in this class, then ensure .logo-cloud--item is on each image. Sizing classes optional (above)
.logo-cloud {
    @include flex-it(0 0 auto);
    padding: 0.25rem 0.5rem;
    margin-bottom: $global-margin;
    @include breakpoint(medium up) {
        padding: 1rem 1.5rem;
    }
    &--item {
        margin: 0.3rem 0.5rem;
        @include breakpoint(medium up) {
            margin: 0.5rem 0.75rem;
        }
        @include breakpoint(large up) {
            margin: 0.5rem 1rem;
        }
    }
}

// status dots! Could be a sass-map for l33t

.status-dot {
    &--green {
        @include status-dot($color_green, $thing-tiny);
    }
    &--green-glow {
        @include status-dot($color_green-glow, $thing-tiny);
    }
    &--yellow-glow {
        @include status-dot($color_yellow-glow, $thing-tiny);
    }
    &--yellow-glow-low-alpha {
        @include status-dot($color_yellow-glow, $thing-tiny);
        @include opacity(0.5);
    }
    &--blue-glow {
        @include status-dot($color_yellow-glow, $thing-tiny);
    }
}

.green-check{
    color: $color_green;
}

.icon-with-margin{
    display: block;
    &--bottom{
        margin: 0 0 1rem 0;
    }
}
