@charset 'utf-8';
@import '../settings';
@import '../../../../node_modules/foundation-sites/scss/util/_mixins.scss';
// @import '../../../../node_modules/foundation-sites/scss/components/_callout.scss';
@import '../mixins/colors';
@import '../mixins/functions';

// these are often created by article.js
figure {
    margin: 1rem 0 1.5rem 0;
    img { // these are always images, inline in articles, should typically be full-width in body. 
        display: block;
    }
}
figcaption{
    font: {
        size: 0.8rem;
        weight: $font-weight-mid;
        style: italic;
    }
    color: black(0.6);
    margin: rem-calc(10px) 0 1rem 0;
    // padding: 0.5rem;
    &.caption { // for js-injected captions below images
        color: black;
        margin-top: 0;
        padding: 0.6rem 0;
        // background-color: $gray-11;
        display: inline-block;
    }
}

.circle{
    border-radius: 50%;
}
.grayscale {
    filter:         grayscale(1);
    -webkit-filter: grayscale(1);
    transition:     .3s linear;
    // opacity:     $opacity-faded;
    &:hover {
        transition:         .3s linear;
        -webkit-transition: .3s linear;
        filter:             grayscale(0);
        -webkit-filter:     grayscale(0);
        //opacity: 1 !important;
    }
}
.desat {
    filter:         saturate(0.3);
    -webkit-filter: saturate(0.3);
}
.image-darker {
    filter:         brightness(50%);
    -webkit-filter: brightness(50%);
    transition:     .3s linear;
    // opacity:     $opacity-faded;
    &:hover {
        transition:         .3s linear;
        -webkit-transition: .3s linear;
        filter:             brightness(100%);
        -webkit-filter:     brightness(100%);
        //opacity: 1 !important;
    }
}
.brightness-invert{
    filter:         brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
}

.invert {
    filter:         invert(1) hue-rotate(180deg);
    -webkit-filter: invert(1) hue-rotate(180deg);
}
.img-crisp { // for images that have text in them, improves legibility in some cases
    image-rendering: optimizequality;            // Legal fallback
    // image-rendering: -moz-crisp-edges;           // Firefox - default is fine
    image-rendering: -o-crisp-edges;             // Opera
    image-rendering: -webkit-optimize-contrast;  // Chrome (and eventually Safari)
    // image-rendering: crisp-edges;                // CSS3 Proposed
}
.img-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.img-multiply {
    @include blend-multiply;
}
.img-mix-multiply {
    @include mix-multiply;
}
.blur {
    &-0 {
        @include blur(0);
    }
    &-1 {
        @include blur(1px);
    }
    &-2 {
        @include blur(2px);
    }
    &-4 {
        @include blur(4px);
    }
}
.loading-blur {
    transition: filter 0.3s;
    @include blur(1vw);
}
.diffuse { // combo
    filter:         blur(2px) saturate(0.1);
    -webkit-filter: blur(2px) saturate(0.1);
    -ms-filter:     blur(2px) saturate(0.1);
}
.image {
    // use these in conjunction with float classes, like .float-left, .float-right, .float-right-on-medium, etc.
    @include percentage-widths;
}
// .image-overlay { // experimental
//     // opacity: 0.5;
//     // filter: saturate(0);
//     background-blend-mode: multiply;
// }
.html5-video-responsive {
    width: calc(100vw);
    text-align: center;
}

.html5-video-full-width{
  width: 100%;
}
.product-thumb {
    @include breakpoint (large) {
        max-width: 17rem;
    }
}

img.lozad {
    transition: opacity $timing-default * 2 linear;
    opacity: 0;
}
img.lozad.loaded {
    opacity: 1;
}
.blur-in {
    &.lozad {
        @include blur(1vw);
        transition: opacity 0.3s, filter 0.3s, -webkit-filter 0.3s, -moz-filter 0.3s, -o-filter 0.3s, -ms-filter 0.3s;
    }
    &.lozad.loaded {
        @include blur(0);
        -webkit-transition-delay: .3s;
        transition-delay:         .3s;
    }
}
img.lozad {
    @include blur(5px);
    transition: opacity 0.3s, filter 0.3s, -webkit-filter 0.3s, -moz-filter 0.3s, -o-filter 0.3s, -ms-filter 0.3s;
}
img.lozad.loaded {
    @include blur(0);
    -webkit-transition-delay: .3s;
    transition-delay:         .3s;
}

// .container--image-fit {
//     position: relative;
//     overflow: hidden;
// }

// .image-fit {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }
// .image-overlay {
//     &--grad {
//         & figure::before {
//             display: block;
//             position: absolute;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100%;
//             background-image: linear-gradient(0deg, #ce1c26 0%, #1043ff 100%);
//             content: '';
//         }
//         // @include color--blue-alt;
//         // transition: all 400ms ease;
//         // &:hover {
//         //     @include color--blue;
//         // }
//     }
//     &--tint {
//         opacity: 0.25;
//         mix-blend-mode: multiply;
//         filter: saturate(0);
//         transition: all 0.3s ease-in-out;
//     }
// }
