// Global link styles
a {
    text-decoration: none;
    font-weight: $font-weight-regular;
    &:hover, &:active, &:focus {text-decoration: none; }
    @include easing($timing-default);
}
// for the link--[color] styles, these have moved to overrides.scss, because order-of-ops.
section a {
    font-weight: $font-weight-mid;
}