// Main header - the anchor to all of Seldon
$duration: $timing-default * 1.5; //settings.scss:281

@include keyframes( fadeIn ) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@include keyframes( fadeOut ) {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.submenu {
    @include shadow-anarchy(2px 3px 5px 0 black(0.3));
    border-radius: $global-radius;
    &-divider {
        border-bottom: 1px solid black(0.3);
    }
    &::before {
        @include css-triangle(10px, white, up);
    }
}
.is-submenu-item {
    margin-bottom: 0;
    a {
        transition: color $timing-default linear;
        color: $gray-3;
        font-weight: $font-weight-mid;
        &:hover {
            color: $color_prime-alt;
        }
    }
}
.js-dropdown-active {
    display: inline-block;
    @include animation (fadeIn 0.3s ease);
}