@import '../settings';
@import '../../../../node_modules/foundation-sites/scss/util/_mixins.scss';
// @import '../mixins/colors';
@import '../mixins/functions';

// Main header - the anchor to all of Seldon
$duration: $timing-default * 1.5; //settings.scss:281

@include keyframes( fadeIn ) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@include keyframes( fadeOut ) {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.no-js { // preventing FOUC
    @include breakpoint (small only) {
        .top-bar {
            display: none;
        }
    }
    @include breakpoint (medium) {
        .title-bar {
            display: none;
        }
    }
}
// foundation sticky nav basics
.menu {
    li {
        margin-bottom: unset;
        .button.small {
            padding: 0.6rem 0.8rem;
        }
    }
    &-secondary { // this is now preferred solution for secondary stacked navs
        li a {
            font: {
                size: 90%;
                // weight: $font-weight-mid;
            }
            // &[aria-current="page"] {
            // }
        }
    }
}

.sticky {
    $active-border-height: 4px;
    // .is-[state] classes for control over its appearance and exit if needed. Desktop only
    // @include breakpoint (large) {
    //     transition: opacity 100ms linear;
    //     opacity: 0;
    //     &.is-anchored {
    //         opacity: 0;
    //     }
    //     &.is-stuck {
    //         opacity: 1;
    //     }
    // }
    .menu {
        &-item {
            margin-bottom: 0;
            padding: 0;
            &--link {
                transition-duration: $timing-default;
                // font-weight: $font-weight-mid;
                padding: 1rem 1rem calc(1rem - $active-border-height) 1rem;
                border-bottom: $active-border-height solid transparent;
                transition: border-color $timing-default linear;
                &:hover {
                    background-color: $gray-11;
                }
                &.active, [aria-current]:not([aria-current="false"]) {
                    background-color: $gray-2;
                    color: white;
                }
                &.is-active, [aria-current="page"] { // js-applied state by ZF plugins
                    border-color: $color_prime-alt;
                }
            }
            &--cta { // for cta button in sticky nav bar
                padding: 0.5rem 0.7rem;
                margin-left: 1rem;
                &:focus,
                &:hover { // clear 'nudge' behavior
                    transform: initial;
                }
            }
        }
    }
}

// ==== desktop nav theming; see .menu stuff at top of this file for defaults.
.nav-logo--link { // data-theme = dark default
    color: $gray-1;
}
.nav {
    .menu-aim .menu.menu-aim__container {
        flex-wrap: nowrap;
        flex-direction: column;
        @include breakpoint (large) {
            padding: 0;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
    // theming
    .menu-aim {
        background-color: white;
    }
    .menu-aim__item-name {
        color: $gray-1;
    }
    &[data-theme="light"] { // light (light text on dark) | dark (dark text on light backgrounds)
        .menu-aim { // change bg container 
            background-color: $gray-2;
        }
        .nav-logo--link, .menu-aim__item-name {
            color: white(0.8);
            // font-weight: $font-weight-regular;
            transition-property: background-color, color;
            transition-duration: $timing-default;
            &:hover, &:active {
                color: $color_yellow-glow;
            }
        }
        .menu {
            &-secondary { // this is now preferred solution for secondary stacked navs
                li a {
                    color: white(0.6);
                    padding: 1rem;
                    transition-property: background-color, color;
                    transition-duration: $timing-default;
                    &:hover {
                        color: white;
                        background-color: transparentize($gray-5, 0.5);
                    }
                    &[aria-current="page"] {
                        color: white;
                        border-bottom: 3px solid $color_yellow-glow;
                    }
                }
            }
        }
        // // fix pip color 
        // .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
        //     border-color: white(0.3);
        // }
    }
    &[data-bar-theme="none"] { // combine with data-theme above for no bg color
        .menu-aim {
            background-color: transparent;
        }
    }
}
.nav-title--compact {
    font-size: 90%;
}

// =================== new nav ==============
// generic stuff that applies to both navs

@mixin link-light {
  border: none;
  color: $color_yellow-glow;
  &:hover {
    color: white;
    border: none;
  }
}
.nav-logo { // pairing with svg use symbol, requires express dimensions. Aspect ratio is maintained, but spacing can be weird.
    height: 2.3rem;
    width: 5.7rem;
}

.product { // a .media-object with an icon, a little adjustment needed
// color: white;
    .product-title {
        font-weight: $font-weight-mid;
        margin-bottom: 0.3em;
        font-size: 1rem;
    }
    .product-description { // pair with text-small
        line-height: 1.2;
        font-weight: $font-weight-light;
    }
}
// mobile menu toggle
.mobile-toggle { // container, mobile only
    position: relative;
    display: block;
    padding: 1rem;
}

@include breakpoint (medium-large down) {
    .mobile-toggle-target {
        transition: color $timing-default linear, border-color $timing-default linear;
        padding: 0;
        display: none; // hidden until active
        @include shadow-anarchy(0 3px 5px black(0.2));
        &.is-active {
            display: block;
        }
    }
    li.menu-aim__section {
        margin-bottom: 2rem;
    }
    .menu-aim__submenu-pane {
        padding: 0; // applied to cols in desktop pane, replaces pad--lg
    }
    .menu-aim__logo {
        margin-bottom: 1.5rem;
    }
    .menu-aim__contact {
        padding: 1rem;
    }
    .menu-aim__item a:not(.button) {
        max-width: 30em;
    }
    .menu-aim__item-name {
        // font-weight: $font-weight-bold;
        font-size: 1.5rem;
    }
    .menu-aim__item-summary {
        margin-top: 0.5rem;
        font-weight: $font-weight-regular;
        font-size: 0.9rem;
        line-height: 1.3;
    }
    .product { // a .media-object with an icon, a little adjustment needed
        color: white;
        .icon-size--medium { // make it smaller
            width:  2rem;
            height: 2rem;
        }
        &.media-object {
            margin-bottom: 0;
        }
        // .product-title {
        // }
        // .product-description { // pair with text-small
        // }
    }
    hr.menu-divider { 
        display: none;
    }
}

// small screen nav
// .nav-items {
//     top: 4rem;
//     display: none;
//     &.is-active {
//         display: block;
//     }
// }
#nav-toggle { // toggle button
    background: transparent;
    position: absolute;
    right:  7px;
    top:    31px;
    height: 50px;
    width:  50px;
    cursor: pointer;
    transform: translate(0%, -50%);
    & span,
    & span:before,
    & span:after {
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        border-radius: 1px;
        height: 2px;
        width: 35px;
        // background: white;
        position: absolute;
        left: 0;
        top: 50%;
        display: block;
        content: "";
    }
    & span:before {
      top: -10px;
    }
    & span:after {
      top: 10px;
    }
    // &.is-toggled span {
    //     background-color: transparent;
    // }

    &.is-toggled span:before,
    &.is-toggled span:after {
        top: 0;
    }

    &.is-toggled span:before {
        transform: rotate(135deg);
    }

    &.is-toggled span:after {
        transform: rotate(-135deg);
    }
}
.nav { // theme the mobile button
    &[data-theme="light"] { // content is light, bg is dark
        #nav-toggle {
            & span, & span:before, & span:after {
                background: white;
            }
            &.is-toggled span {
                background-color: transparent;
            }
        }
        @include breakpoint (medium-large down) {
            .menu-nav-list {
                li a {
                    color: white;
                }
            }
            .product {
                color: white;
                svg path {
                    fill: white;
                }
            }
        }
    }
    &[data-theme="dark"] { // content is dark, bg is light
        #nav-toggle {
            & span, & span:before, & span:after {
                background: black;
            }
            &.is-toggled span {
                background-color: transparent;
            }
        }
        @include breakpoint (medium-large down) {
            .menu-nav-list {
                li a {
                    color: black;
                }
            }
            .product {
                color: black;
                svg path {
                    fill: black;
                }
            }
        }
    }
}


// .menu-aim__item-submenu { // hide below large
//     display: none; // overriden below for desktop
// }
// ======== DESKTOP ONLY STYLES / megamenu ==========
@include breakpoint (large) {
    .menu-aim__item a {
        padding: 1.5rem;
    }
    // .menu-aim__item-name {
    //     font-weight: $font-weight-bold;
    //     font-size: 1.1rem;
    // }
    //.menu-aim a.menu-aim__item:hover,
    .menu-aim__item--active .menu-aim__item-name {
        color: $color_blue;
        // background: blue;
        background: {
            image: url("data:image/svg+xml;charset=utf8,%3Csvg width='25' height='17' viewBox='0 0 25 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 0L25 17H0L12.5 0z' fill='%233B4145'/%3E%3C/svg%3E");
            repeat: no-repeat;
            position: center bottom;
            size: 16px;
        }
    }
    .menu-aim .no-child {
        background: none;
    }
    // .menu-aim--delaying .menu-aim__item-name:hover {
    //     color: blue;
    //     background: none;
    // }
    .menu-aim__item-submenu {
        background-color: $gray-3;
        color: white;
        display: block;
        // transition: visibility 0s, opacity 0.2s linear;
        visibility: hidden;
        opacity: 0;
        // transition: opacity 200ms;
        transition-delay: .2s;
        position: absolute;
        top: 62px;
        left: 0;
        width: 100%;
        .button {
            display: inline-block;
            width: auto;
        }
        a:not(.button):not(.preview) {
            text-align: initial;
            padding: initial;
        }
        .preview { // webinar or custom cards
            border-radius: 0;
            min-height: initial;
            height: 100%;
            .preview-bg {
                transform: scale3D(1.1,1.1,1);
            }
        }
        .menu-nav-list {
            li a {
                color: white;
            }
        }
        .product {
            color: white;
            svg path {
                fill: white;
            }
        }
    }
    .menu-aim__item--active .menu-aim__item-submenu {
        visibility: visible;
        transition-delay: 0ms;
        // @include animation (fadeIn 0.3s ease);
        opacity: 1;
    }
    .menu-aim__submenu-pane {
        padding: calc(1rem + 1.2vw);
    }
    hr.menu-divider { // used to separate child menu items 
        margin: 0.5rem;
        border-bottom: 1px solid $gray-5;
    }
    .menu-aim__contact {
        margin-left: 1rem;
    }
} // end desktop stuff
.menu-nav-list {
    // flex-wrap: wrap;
    flex-direction: column;
    li a {
        // color: white;
        padding-top:    0.5rem;
        padding-bottom: 0.5rem;
    }
    @include breakpoint (large) {
        margin-left: -0.5rem; // pulls list left to line up/use space better
        li { // not sure why .menu.align-center is trickling down here, setting classes in this nav have no effect...
            justify-content: left !important;
            border-radius: 6px;
            transition: background-color 100ms linear;
            &:hover {
                background-color: black(0.6);
            }
        }
        li a {
            @include link-light;
            padding: 0.5rem !important;
        }
    }
}