---
title: "Datica Open Source Contributions"
summary: "Building the future of healthcare together"
author: "Datica, Inc. Engineering Team"
tags: "open source, OSS, policies, HIPAA, HL7, FHIR, interoperability, EHR, integration"
date: "January 1, 2017"
share_image: "https://images.ctfassets.net/189dvqdsjh46/29pEL9FKGwmQ6GMKaeKmKc/f882650ba0219b6f9e35b8da68c95dab/open-source-2-share.jpg?w=1200"
customCSS: "about-us"
layout: "company"
---

<section class="section-article">
    <div class="row align-center">
        <div class="columns small-12 medium-8">
            <div class="text-center group">
                <%= inline_svg("icon-git", class: "icon-size--medium svg-color--black") %>
                <h4 class="headline-5 spaced-out">Open Source</h4>
                <h1 class="headline-2">Company Policies for HIPAA Compliance</h1>
                <p class="lead">Handle PHI? Adopt these free 25 policies and be one step closer to HIPAA compliance.</p>
                <%= partial "partials/snippets/button", :locals => { :label => "View Policies on Github", :url => "https://github.com/catalyzeio/policies/", :button_classes => "button", :icon => "icon-github-octocat", :icon_align => "left" } %>
            </div>
        </div>
    </div>
</section>
<section class="section-article container-color--dark-grad-blue">
    <div class="row align-center">
        <div class="columns small-12 medium-6">
            <div class="lead group">
                <p>HIPAA compliance is complicated, but it doesn't have to be. In an effort to make compliance as easy as possible for companies working with PHI, we decided to open source our HIPAA policies.</p>
                <p>Our policies have been written with modern, cloud-based technology vendors in mind. We looked far and wide for policy examples that fit our company, and couldn't find any. So we wrote our own. Importantly, these policies have been through three external audits&mdash;two HIPAA audits and one HITRUST audit.</p>
            </div>
            <div class="group">
                <h4 class="headline-5">For the Modern Cloud Company</h4>
                <p>Because we crafted these policies for ourselves, we had the profile of a modern cloud healthcare company in mind. They are tailored specifically for you, including our business associate agreement (BAA).</p>
            </div>
            <div class="group">
                <h4 class="headline-5">Audited Thousands of Times</h4>
                <p>Don't just take our word for it. These policies have gone through two official HIPAA audits and two official HITRUST assessments with Datica, but have been used to pass over 1,000 security and risk assessments by our customers. They have been validated by independent third parties.</p>
            </div>
            <div class="group">
                <h4 class="headline-5">Free to Use</h4>
                <p>That's right, these are entirely free to use and edit. All documents are licensed under <a href="http://creativecommons.org/licenses/by-sa/4.0/" class="color-talk-alt">CC BY-SA 4.0</a>.</p>
            </div>
            <div class="group">
                <h4 class="headline-5">No Markup Required</h4>
                <p>All documents were written in markdown, which again likely aligns with you as a modern cloud company. It makes using git for version control and publishing to the web simple.</p>
            </div>
            <div class="button-group text-center">
                <%= partial "partials/snippets/button", :locals => { :label => "View Policies on Github", :url => "https://github.com/catalyzeio/policies/", :button_classes => "button button--light", :icon => "icon-github-octocat", :icon_align => "left" } %>
            </div>
        </div>
        <div class="columns small-12 medium-6">
            <div class="callout callout--dark-alpha">
                <h4 class="headline-5">Case Study: <a href="https://eligibleapi.com/" class="color-talk-alt">Eligible Inc.</a></h4>
                <p><em>"Eligible makes it simple for healthcare engineers to pass and receive financial transactions with over 1,000 health insurance companies across the country.</p>
                <p>We believe that for Datica to open source these documents is truly ground breaking in healthcare IT.</p>
                <p>In the past we've spent an enormous amount of funds creating &amp; updating our policies. We have yearly evaluations of our policies in October and this past October (2014) we were able to update and implement a number of improvements to our existing policies all based off the information we gathered from Datica's policies. This cost us zero dollars in comparison to our expensive updating of policies in prior years.</p>
                <p>This is definitely the first time we have seen policies open sourced and we applaud the use of tools like GitHub to manage version control of all policies.</p>
                <p>I think this could be revolutionary in helping the industry as a whole collaborate to improve privacy and security practices by gathering information from the highest level security/privacy experts in the field and making it available via similar open source methods."</em></p>
                <div class="media-object card-person">
                    <div class="media-object-section">
                        <img src="https://images.ctfassets.net/189dvqdsjh46/2gYOoWVhOEYW4IMAOIeyS0/599f8ca6d3642c732f3f003769563781/headshot-eligible.jpg<%= image_thumb %>" class="avatar avatar--large circle" alt="Katelyn Gleason" />
                    </div>
                    <div class="media-object-section main-section align-self-middle">
                        <h4 class="person-name">Katelyn Gleason</h4>
                        <p class="person-title">CEO &amp; Cofounder, Eligible Inc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-center">
        <div class="columns small-12 medium-8">
            <div class="group text-center">
                <h2 class="headline-3">HIPAA Policies</h2>
                <p class="lead color-white">Each policy is included as its own markdown file in case you want to cherry pick specific policies. If you currently have no policies in place, we encourage you to consider utilizing all policies.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="columns small-12">
            <div class="row">
                <div class="columns small-12 medium-4">
                    <div class="callout drop callout--stretch">
                        <p><strong>Structural</strong></p>
                        <ol>
                            <li>Introduction</li>
                            <li>HIPAA Inheritance for PaaS Customers</li>
                            <li>HIPAA Inheritance for Platform Add-on Customers</li>
                            <li>HIPAA Mappings to Datica Controls</li>
                            <li>Key Definitions</li>
                        </ol>
                    </div>
                </div>
                <div class="columns small-12 medium-4">
                    <div class="callout drop callout--stretch">
                        <p><strong>Physical</strong></p>
                        <ol>
                            <li>Disposable Media Policy</li>
                            <li>Facility Access Policy</li>
                            <li>Disaster Recover Policy</li>
                        </ol>
                    </div>
                </div>
                <div class="columns small-12 medium-4">
                    <div class="callout drop callout--stretch">
                        <p><strong>Technical</strong></p>
                        <ol>
                            <li>System Access Policy</li>
                            <li>Data Management Policy</li>
                            <li>Data Integrity Policy</li>
                            <li>Data Retention Policy</li>
                            <li>Configuration Management Policy</li>
                            <li>IDS Policy</li>
                            <li>Vulnerability Scanning Policy</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="columns small-12 medium-4">
                    <div class="callout drop callout--stretch">
                        <p><strong>Administrative</strong></p>
                        <ol>
                            <li>Policy Management Policy</li>
                            <li>Risk Management Policy</li>
                            <li>Auditing Policy</li>
                            <li>Incident Response Policy</li>
                            <li>Breach Policy</li>
                            <li>Approved Tools Policy</li>
                            <li>3rd Party Policy</li>
                        </ol>
                    </div>
                </div>
                <div class="columns small-12 medium-4">
                    <div class="callout drop callout--stretch">
                        <p><strong>Organizational</strong></p>
                        <ol>
                            <li>Roles Policy</li>
                            <li>Employees Policy</li>
                            <li>Datica HIPAA Business Associate Agreement ("BAA")</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-article container-color--gray-light">
    <div class="row align-center">
        <div class="columns small-12 medium-6">
            <div class="group">
                <h2 class="headline-3">Frequently Asked Questions</h2>
                <p class="lead">Who is behind this?</p>
            </div>
            <p><a href="https://datica.com" class="color-talk-alt">Datica Health, Inc.</a>, healthcare's trusted HIPAA-compliant platform.</p>
            <p>We help healthcare companies who handle PHI, both business associates and covered entities, maintain compliance with our platform and managed data integration services.</p>
            <h4 class="headline-5">Why open source these policies?</h4>
            <p>HIPAA compliance has two halves. The first half includes all technical guidelines, both physical and digital. Encryption, logging, monitoring, backup&mdash;these are just a few examples of HIPAA technical requirements. The Datica platform addresses the technical requirements of HIPAA for our customers.</p>
            <p>The second half of HIPAA is focused on administrative and organizational activities. This includes signing Business Associate Agreements (BAAs), risk management procedures, and policies for training, among other things. Crafting company policies that align with HIPAA administrative guidelines are straightforward, but an immense burden.</p>
            <p>When we were creating our policies, we found several templates for healthcare providers, but nothing for modern health technology companies. We spent a lot of time and effort writing our policies, then adapting them to meet the demands of external audits. We don't want people to reinvent the wheel; trust us, it's not fun. We also feel a broader community can improve these polices over time, making them better for everybody.</p>
            <p>By open sourcing our own company policies, we hope other healthcare companies will benefit. It aligns with our company mission: to help you focus on fixing healthcare without spending all of your time on HIPAA.</p>
            <h4 class="headline-5">What license are the policies?</h4>
            <p>All company policies are licensed under <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>. You can edit and use as you wish for anything other than commercial use.</p>
            <h4 class="headline-5">Can I change the name Datica in the policies and say I'm HIPAA compliant?</h4>
            <p>You can say what you want. They are open source and you can use as you see fit. But, we don't recommend that. We are not saying adopt these policies and be HIPAA compliant. We open sourced these policies to help modern healthcare companies get a head start. They are the starting point that we wish we had at Datica. We've implemented technical controls and organizational procedures specifically based on these policies (ex: we say we log certain events in our policies, so we log those events using our logging stack). We encourage you to customize the policies to meet your needs.</p>
            <h4 class="headline-5">Okay. So now what should I do?</h4>
            <p>As a company who handles PHI, it's critical you adopt and maintain your own HIPAA policies. To make use of our policies, we recommend the following steps.</p>
            <ol>
                <li>Read through all the enclosed policies to get an understanding of the structure.</li>
                <li>Download and adjust the policies to meet the specific needs of your organization.</li>
                <li>Comb through the policies for mentions of Datica or our business and change to appropriate references to your company.</li>
                <li>Implement internal procedures and technical controls to assure you're inline with the policies you are adopting. In the case of Datica customers, certain policies can be adopted in their entirety as Datica has implemented procedures and technical controls that our customers inherit.</li>
                <li>Publish your policies in a publicly available location. The files are markdown, so you may need to convert to HTML if you don't have a publishing platform capable of markdown format. You can either create an index page linking to each individual policy, or create a single page listing all the policies in line, <a href="https://policy.datica.com">much like we did</a>. You can certainly choose to keep you policies private, but we have discovered that making our policies public helps us when we talk to large healthcare enterprises.</li>
                <li>Use Git for version control. We've discovered it's a great way to maintain documentation for audits.</li>
            </ol>
        </div>
    </div>
</section>
