---
title: "Datica Press and Media Resources"
summary: "Datica press releases, announcements, media coverage, and contact information"
author: "Datica, Inc."
tags: "media, logos, press, HIPAA, HL7, FHIR, interoperability, EHR, integration"
date: "January 1, 2017"
share_image: "https://images.contentful.com/189dvqdsjh46/3Ll0a3gLi8wKG8A84mUokm/fabae03bd9e4da4e60173d4c2fe89a30/blog-share-default.png"
header: "Media Resources"
subheader: "Company Info, Press Releases, Coverage"
layout: basic
---
<div class="container-color--dark-alt">
    <%= partial "partials/snippets/header", :locals => { :style => "light" } %>
</div>
<section class="custom-sticky custom-sticky--dark show-for-large">
    <div class="row">
        <div class="columns small-12 medium-12">
            <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/leadership">Leadership</a></li>
                <li><a href="/blog">Company Blog</a></li>
                <li><a href="https://help.datica.com/hc/en-us/sections/115001646346-Engineering-Blog">Engineering Blog</a></li>
                <li><a href="/careers">Careers</a></li>
                <li><a href="/press" class="active">Press</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/open-source">Open Source</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="section-article container-color--light-gray">
    <div class="row align-center">
        <div class="columns small-12 medium-8">
            <div class="section--header-light-group text-center">
                <h1 class="headline-1">Media Kit Downloads</h1>
                <p class="lead">Download Datica brand assets here.</p>
            </div>
        </div>
    </div>
</section>
<section class="section-article container-color--gray-light" id="brandAssets">
    <div class="row align-center">
        <div class="columns small-12 medium-10 text-center">
            <h3 class="headline-3">Datica Logos</h3>
            <p>Download all the logos containing PDF, EPS, and PNG formats.</p>
            <div class="group">
                <a href="//assets.contentful.com/189dvqdsjh46/3w7oq2hhxuOcQ424iwOaiK/04dbeea9c1c491be255f2c65463bf6b7/datica_logos__all.zip" class="button button--primary"><strong>Download Zip</strong> (datica logos, all.zip - 395k)</a>
            </div>
        </div>
    </div>
    <div class="row align-center text-center">
        <div class="columns small-12 medium-10">
            <div class="row align-center align-stretch small-up-1 medium-up-2 large-up-3">
                <div class="column">
                    <h5>Horizontal, On White #FFFFFF</h5>
                    <div class="callout drop">
                        <img src="/public/img/mediakit/datica-logo-black.png" alt="datica logo" />
                    </div>
                </div>
                <div class="column">
                    <h5>Horizontal, On Dark Gray #1E2127</h5>
                    <div class="callout--dark drop">
                        <img src="/public/img/mediakit/datica-logo-white.png" alt="datica logo" />
                    </div>
                </div>
                <div class="column">
                    <h5>Horizontal, On Blue #1525F1</h5>
                    <div class="callout callout--blue drop">
                        <img src="/public/img/mediakit/datica-logo-white.png" alt="datica logo" />
                    </div>
                </div>
            </div>
            <div class="row align-center align-stretch small-up-1 medium-up-3 large-up-4">
                <div class="column">
                    <h5>Vertical, On White</h5>
                    <div class="callout drop text-center">
                        <img src="/public/img/mediakit/datica-logo-vertical-black.png" alt="datica logo" />
                    </div>
                </div>
                <div class="column">
                    <h5>Vertical, On Dark Gray</h5>
                    <div class="callout--dark drop text-center">
                        <img src="/public/img/mediakit/datica-logo-vertical-white.png" alt="datica logo" />
                    </div>
                </div>
                <div class="column">
                    <h5>Vertical, On Blue</h5>
                    <div class="callout callout--blue drop text-center">
                        <img src="/public/img/mediakit/datica-logo-vertical-white.png" alt="datica logo" />
                    </div>
                </div>
            </div>
            <div class="row align-center align-stretch small-up-1 medium-up-3 large-up-4">
                <div class="column text-left">
                    <h5>On Texture</h5>
                    <p class="">A textured background or image is acceptable if it is not too busy. Use sparingly.</p>
                </div>
                <div class="column">
                    <div class="callout--dark drop text-center container-image-fill" data-interchange="[https://images.contentful.com/189dvqdsjh46/5GU4ni622cU4I4iuuCIIqW/066414842383deda438861c4e8c72ae7/wood-texture.jpg, small]">
                        <img src="/public/img/mediakit/datica-logo-white.png" alt="datica logo" />
                        <p>Acceptable contrast here.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="callout drop text-center container-image-fill" data-interchange="[https://images.contentful.com/189dvqdsjh46/5GU4ni622cU4I4iuuCIIqW/066414842383deda438861c4e8c72ae7/wood-texture.jpg, small]">
                        <img src="/public/img/mediakit/datica-logo-vertical-white.png" alt="datica logo" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
