---
title: "Datica Press and Media Resources"
summary: "Datica press releases, announcements, media coverage, and contact information"
author: "Datica, Inc."
tags: "media, press releases, press, HIPAA, HL7, FHIR, interoperability, EHR, integration"
date: "January 1, 2017"
share_image: "https://images.contentful.com/189dvqdsjh46/3Ll0a3gLi8wKG8A84mUokm/fabae03bd9e4da4e60173d4c2fe89a30/blog-share-default.png"
header: "Media Resources"
subheader: "Company Info, Press Releases, Coverage"
layout: basic
---

<section class="section-article">
    <div class="row">
        <div class="columns small-12 medium-8">
            <h2>Press Releases</h2>
            <hr class="short">
            <% data.site.pressReleases.each do |id, post| %>
                <div class="group">
                    <a href="/press-release/<%= post["slug"] %>"><%= post["title"] %></a>
                    <p>
                        <%= post["summary"] %>
                    </p>
                </div>
            <% end %>
        </div>
    </div>
</section>
