<div class="card price-card drop">
    <div class="card-divider large-order-1 show-for-large">
        <h3 class="headline-4 text-center">Enterprise</h3>
        <hr class="divider"/>
    </div>
    <div class="card-divider large-order-4">
        <h3 class="headline-4 price-info--price">Custom</h3><a class="button button--neat expanded" href="/pricing/enterprise">Request Information <i class="fa fa-angle-right"></i></a>
    </div>
    <div class="card-section card-section--flush price-card--section large-order-2">
        <h4 class="headline-5">Compliance Coverage</h4>
        <ul class="price-info fa-ul">
            <li><i class="fa-li fa fa-check"></i>Business Associate Agreement</li>
            <li><i class="fa-li fa fa-check"></i>4 Hour Breach Reporting</li>
            <li><i class="fa-li fa fa-check"></i><span class="has-tip top" data-tooltip aria-haspopup="true" data-disable-hover="false" title="The SOC 2 report focuses on a business's non-financial reporting controls as they relate to security, availability, processing integrity, confidentiality, and privacy of a system, as opposed to SOC 1/SSAE 16 which is focused on the financial reporting controls.">SOC 2</span> Compliance</li>
            <li><i class="fa-li fa fa-check"></i>
                <a href="/compliance" class="has-tip top" data-tooltip aria-haspopup="true" data-disable-hover="false" title="Datica is HITRUST CSF Certified. Customers can inherit some of our controls while doing their own audits or certification process. Tap to read more:">HITRUST CSF Certification &amp; Inheritance</a>
            </li>
            <li><i class="fa-li fa fa-check"></i>Security Audit Guarantee</li>
        </ul>
        <h4 class="headline-5">Technology Controls</h4>
        <ul class="price-info fa-ul">
            <li><i class="fa-li fa fa-check"></i>Logging &amp; Monitoring</li>
            <li><i class="fa-li fa fa-check"></i>Networking &amp; Load-balancing</li>
            <li><i class="fa-li fa fa-check"></i>Disaster Recovery &amp; Backup</li>
            <li><i class="fa-li fa fa-check"></i>Intrusion Detection</li>
            <li><i class="fa-li fa fa-check"></i>Penetration Testing</li>
        </ul>
        <h4 class="headline-5">Infrastructure Options:</h4>
        <ul class="price-info fa-ul">
            <li><i class="fa-li fa fa-check"></i>Windows Availability</li>
            <li><i class="fa-li fa fa-check"></i>Dedicated, Multi-tenant or On-account</li>
            <li><i class="fa-li fa fa-check"></i>AWS, Azure or Softlayer</li>
            <li><i class="fa-li fa fa-check"></i>US, EU and CA Deployments</li>
        </ul>
        <h4 class="headline-5">Support &amp; Service</h4>
        <ul class="price-info fa-ul">
            <li><i class="fa-li fa fa-check"></i>24/7 Ticket &amp; Phone Support</li>
            <li><i class="fa-li fa fa-check"></i>Dedicated account manager</li>
            <li><i class="fa-li fa fa-check"></i><span class="has-tip top" data-tooltip aria-haspopup="true" data-disable-hover="false" title="Migrating from somewhere else? Have special technical needs? Datica's support team is available for initial on-boarding.">20 hours of one-time on-boarding support</span>
            </li>
            <li><i class="fa-li fa fa-check"></i><span class="has-tip top" data-tooltip aria-haspopup="true" data-disable-hover="false" title="Datica will provide a team representative to support an annual audit process should your company choose to be audited.">20 hours of yearly audit support</span>
            </li>
            <li><i class="fa-li fa fa-check"></i><span class="has-tip top" data-tooltip aria-haspopup="true" data-disable-hover="false" title="Customers are invited to a comprehensive quarterly round table on product updates.">Quarterly Product Roundtable</span>
            </li>
        </ul>
    </div>
    <div class="card-divider card-divider--flush large-order-3">
        <div class="callout callout--gray-light">
            <h4 class="headline-5">With this plan you can...</h4>
            <ul>
              <li>Host mission critical production applications around the globe</li>
              <li>Seamlessly integrate with health systems</li>
              <li>Variable scaling</li>
            </ul>
        </div>
    </div>
</div>
