<div class="card price-card drop">
    <div class="card-divider large-order-1 show-for-large">
        <h3 class="headline-4 text-center">Standard</h3>
        <hr class="divider"/>
    </div>
    <div class="card-divider large-order-5">
        <h3 class="headline-4 price-info--price">$1,000 / mo</h3><a class="button button--neat expanded" href="https://product.datica.com/account/register">Start your free trial now <i class="fa fa-angle-right"></i></a>
    </div>
    <div class="card-section card-section--flush price-card--section large-order-3">
        <h4 class="headline-5">Compliance Coverage</h4>
        <ul class="price-info fa-ul">
            <li><i class="fa-li fa fa-check"></i>Business Associate Agreement</li>
            <li><i class="fa-li fa fa-check"></i><span class="has-tip top" data-tooltip aria-haspopup="true" data-disable-hover="false" title="The SOC 2 report focuses on a business's non-financial reporting controls as they relate to security, availability, processing integrity, confidentiality, and privacy of a system, as opposed to SOC 1/SSAE 16 which is focused on the financial reporting controls.">SOC 2</span> Compliance</li>
            <li><i class="fa-li fa fa-check"></i>
                <a href="/products/compliance" class="has-tip top" data-tooltip aria-haspopup="true" data-disable-hover="false" title="Datica is HITRUST CSF Certified. Customers can inherit some of our controls while doing their own audits or certification process. Tap to read more:">HITRUST CSF Certification &amp; Inheritance</a>
            </li>
        </ul>
        <h4 class="headline-5">Technology Controls</h4>
        <ul class="price-info fa-ul">
            <li><i class="fa-li fa fa-check"></i>Logging &amp; Monitoring</li>
            <li><i class="fa-li fa fa-check"></i>Networking &amp; Load-balancing</li>
            <li><i class="fa-li fa fa-check"></i>Disaster Recovery &amp; Backup</li>
            <li><i class="fa-li fa fa-check"></i>Intrusion Detection</li>
            <li><i class="fa-li fa fa-check"></i>Penetration Testing</li>
        </ul>
        <h4 class="headline-5">Support</h4>
        <ul class="price-info fa-ul">
            <li><i class="fa-li fa fa-check"></i>9-5 Ticket Support</li>
        </ul>
    </div>
    <div class="card-divider card-divider--flush large-order-4">
        <div class="callout callout--gray-light">
            <h4 class="headline-5">With this plan you can...</h4>
            <ul>
              <li>Host a basic production application</li>
              <li>Get started with EHR integrations</li>
              <li>Want to do both? <span class="has-tip top" data-tooltip aria-haspopup="true" data-disable-hover="false" title="$100 per GB RAM / mo, $100 per 100GB Object Storage /mo, $2.50 per GB Attatched Storage / mo">Additional scaling available</span></li>
            </ul>
        </div>
    </div>
</div>
