---
title: "Datica Leadership Team"
summary: "The leadership team behind Datica"
author: "Datica, Inc."
tags: "leadership, strategy, people"
share_image: "https://images.ctfassets.net/189dvqdsjh46/3Ll0a3gLi8wKG8A84mUokm/fabae03bd9e4da4e60173d4c2fe89a30/blog-share-default.png"
# customCSS: "leadership"
layout: company
---
<% 
datica_execs     = data.site.person.to_a.select { |id, person| person["person_type"] == "Datica Executives" }
datica_vps       = data.site.person.to_a.select { |id, person| person["person_type"] == "Datica VP" }
datica_directors = data.site.person.to_a.select { |id, person| person["person_type"] == "Datica Directors" }
datica_alums     = data.site.person.to_a.select { |id, person| person["person_type"] == "Datica Alumni" && person["slug"] == "mohan" }
datica_team      = data.site.person.to_a.select { |id, person| (person["person_type"] == "Datica Executives" && person["person_type"] == "Datica VP" && person["person_type"] == "Datica Directors" && person["slug"] == "mohan") }
sorted_daticans  = data.site.person.to_a.sort_by{ |id, person| person['slug'] }
%>


<section class="section-article container-color--dark container-image--fixed" data-interchange="[https://images.ctfassets.net/189dvqdsjh46/3eF64DVasUAAKacOwWqmce/f63c1ea700487b2d8bda2a8110fac69e/background-about-us.jpg, medium]">
    <div class="row align-center">
        <div class="columns small-12 large-6 text-center">
            <h4 class="headline-6 subheader--spaced-out text--yellow-glow">Leadership</h4>
            <h1 class="headline-3">The leadership team guiding Datica's vision and execution</h1>
        </div>
    </div>
</section>
<section class="section-article container-color--gray-light">
    <div class="row small-up-1 medium-up-3 large-up-4 align-center">
        <% sorted_daticans.each do |id, member| %>
            <% case member.person_type %>
                <% when "Datica Executives", "Datica VP", "Datica Directors" %>
                <% if member.has_key?("profile_pic") %>
                    <div class="column text-center">
                        <%= partial("partials/snippets/person-vertical-simple", :locals => { :p => member, :classes => "group--2x", :use_headers => true }) %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
</section>

<%= partial "partials/section-promos/careers", :locals => { :tagline => "We're building a team to transform healthcare. Join us!" } %>

<!-- <section class="section-article">
    <div class="row align-middle align-center">
        <div class="columns small-12 medium-10 large-6">
            
        </div>
    </div>
</section> -->
