---
title: "Datica Leadership Team"
summary: "The leadership team behind Datica"
author: "Datica, Inc."
tags: "leadership, strategy, people"
share_image: "/public/img/share-posters/datica-social-twitter-thumb.png"
# customCSS: "leadership"
layout: basic
---
<% 
datica_execs     = data.site.person.to_a.select { |id, person| person["person_type"] == "Datica Executives" }
datica_vps       = data.site.person.to_a.select { |id, person| person["person_type"] == "Datica VP" }
datica_directors = data.site.person.to_a.select { |id, person| person["person_type"] == "Datica Directors" }
datica_alums     = data.site.person.to_a.select { |id, person| person["person_type"] == "Datica Alumni" && person["slug"] == "mohan" }
datica_team      = data.site.person.to_a.select { |id, person| (person["person_type"] == "Datica Executives" && person["person_type"] == "Datica VP" && person["person_type"] == "Datica Directors" && person["slug"] == "mohan") }
sorted_daticans  = data.site.person.to_a.sort_by{ |id, person| person['slug'] }
%>

<div class="container-color--dark-alt">
    <%= partial "partials/snippets/header", :locals => { :style => "light" } %>
</div>
<section class="custom-sticky custom-sticky--dark show-for-large">
    <div class="row">
        <div class="columns small-12 medium-12">
            <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/leadership" class="active">Leadership</a></li>
                <li><a href="/blog">Company Blog</a></li>
                <li><a href="https://help.datica.com/hc/en-us/sections/115001646346-Engineering-Blog">Engineering Blog</a></li>
                <li><a href="/careers">Careers</a></li>
                <li><a href="/press">Press</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/open-source">Open Source</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="section-article container-color--dark container-image--fixed" data-interchange="[/public/img/background-about-us.jpg, small]">
    <div class="row align-center">
        <div class="columns small-12 large-6 text-center">
            <h4 class="headline-6 subheader--spaced-out text--yellow-glow">Leadership</h4>
            <h1 class="headline-3">The leadership team guiding Datica's vision and execution</h1>
        </div>
    </div>
</section>
<section class="section-article container-color--gray-light">
    <div class="row small-up-1 medium-up-3 large-up-4 align-center">
        <% sorted_daticans.each do |id, member| %>
            <% case member.person_type %>
                <% when "Datica Executives", "Datica VP", "Datica Directors" %>
                <% if member.has_key?("profile_pic") %>
                    <div class="column text-center">
                        <%= partial("partials/snippets/person-vertical-simple", :locals => { :p => member, :classes => "group--2x", :use_headers => true }) %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
</section>

<section class="section-article">
    <div class="row align-middle align-center">
        <div class="columns small-12 medium-10 large-6">
            <%= partial "partials/section-promos/careers", :locals => { :tagline => "We're building a team to transform healthcare. Join us!" } %>
        </div>
    </div>
</section>
