---
title: "Contact Us"
summary: "Connect with a compliance or integration expert at Datica"
author: "Datica, Inc."
tags: "HIPAA, HL7, FHIR, interoperability, EHR, Kubernetes"
customJS: "/public/js/form.js"
layout: basic
---

<% 
current_page.data.share_image = image_share_platform
current_page.data.date = DateTime.now.strftime('%B %-d, %Y')
the_form = data.site.forms['6REeio0W88ac0o0GOsMs8U']
the_quote = data.site.quotes['566EA4HZFumwUQQ6asKQYw']
%>

<div class="container-color--dark-grad-blue">
    <%= partial "partials/head/header", :locals => { :style => "light" } %>
    <div class="section-article">
        <div class="row">
            <div class="columns small-12 medium-6">
                <h1 class="headline-1">Connect with Datica</h1>
            </div>
            <div class="columns small-12 medium-6 position-relative split-section-form">
                <div class="callout callout--large drop" id="absoluteForm">
                    <p>A compliance and integration expert from Datica will follow up to learn how we might be able to help.</p>
                    <hr/>
                    <%= Kramdown::Document.new(the_form["custom_form"]).to_html %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="strip-bright"></div>
<div class="section-article container-color--gray-light" id="setHeight">
    <div class="row">
        <div class="columns small-12 medium-6 text-left small-order-2 large-order-1">
            <div class="callout drop group">
                <blockquote class="quote--serif">
                    <%= Kramdown::Document.new(the_quote["quote_body"]).to_html %>
                </blockquote>
                <%= partial("partials/snippets/person", :locals => { :p => the_quote. customer, :company => the_quote.customer.company_name } ) %>

            </div>
        </div>
    </div>
</div>

