---
title: "Thanks for reaching out"
summary: "A member of the Datica team will be following up"
author: "Datica, Inc."
tags: "HIPAA, HL7, FHIR, interoperability, EHR, integration"
date: "January 1, 2017"
share_image: "https://images.contentful.com/189dvqdsjh46/3Ll0a3gLi8wKG8A84mUokm/fabae03bd9e4da4e60173d4c2fe89a30/blog-share-default.png"
customCSS: "contact-us"
layout: basic
---
<div class="container-color--blue-alt">
    <%= partial "partials/snippets/header", :locals => { :style => "light" } %>
    <div class="section-article">
        <div class="row align-center">
            <div class="columns small-12 medium-6">
                <div class="section--header-dark-group">
                    <h1>Thanks for reaching out</h1>
                    <h2>A member of the Datica team will be following up to schedule a conversation</h2>
                </div>
            </div>
            <div class="columns small-12 medium-6">
                <div class="drop callout">
                    <a class="read-more" href="/about" title="Learn more">About Datica <i class="fa fa-angle-right"></i></a>
                    <br>
                    <a class="read-more" href="/blog" title="Learn more">Company blog <i class="fa fa-angle-right"></i></a>
                    <br>
                    <a class="read-more" href="/innovation" title="Learn more">Healthcare Innovators Podcast <i class="fa fa-angle-right"></i></a>
                    <br>
                    <a class="read-more" href="https://datica.com/open-source/policies" title="Learn more">Our open sourced company policies on GitHub <i class="fa fa-angle-right"></i></a>
                    <br>
                    <a class="read-more" href="https://datica.zendesk.com/hc/en-us" title="Learn more">Customer support channels <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
