
//misc classes, let's revisit and organize - AW

// Max width on iFrames
@media all and (max-width: $custom_breakpoint-mid){
    iframe{max-width: 100%;height: auto;}
}

.logo {
    &--customer {
        height: 6vw;
        @include breakpoint(medium up) {
            height: 3vw;
        }
        @include breakpoint(large up) {
            height: 2.5vw;
        }
    }
    &--nav {
        width: 100px;
        height: 22px; // how can we do this responsively?
        min-width: 50px;
        &:hover path{
            fill: hsl(188, 100%, 89%);
        }
    }
}


.basic-header{
    @include clearfix;
}
.three-quarter-hr{
    height: rem-calc(2px);
    width: 75%;
    background-color: $color_border;
    margin: 0 auto 2.25rem auto;
    @include border-radius(rem-calc(1px));
    &--more-space{
        margin: 4rem auto;
    }
}
.half-hr{
    height: rem-calc(2px);
    width: 50%;
    background-color: $color_border;
    margin: 0 auto 2.25rem auto;
    @include border-radius(rem-calc(1px));
    &--more-space{
        margin: 4rem auto;
    }
}
