---
title: Miscellaneous Patterns
navTitle: Misc
summary: "Things that don't fit anywhere else."
customCSS: styleguide
hide_from_sitemap: true
---
<section id="content-top" class="section-article">
    <div class="row">
        <div class="columns small-12 section--header-group">
            <h1 class="section--header">Labels</h1>
            <h3>Good for tags or info</h3>
            <div class="group">
                <span class="label">Basic Default Label
                </span>
                <span class="label success">Success
                </span>
                <span class="label secondary">Secondary
                </span>
                <span class="label alert">Alert</span>
            </div>
            <div class="group">
                <p aria-describedby="emailLabel1 emailLabel2">For improved
                    <code>a11y</code>, labels can be associated with an element that they describe.</p>
                <span id="emailLabel1" class="label">High Priority</span>
                <span id="emailLabel2" class="label">Unread</span>
            </div>
        </div>
    </div>
</section>
