---
title: "Nav development"
navTitle: "Navigation"
summary: "Navigation Patterns"
author: "Datica, Inc."
hide_from_sitemap: true
---
.container-gray-2
  = partial "partials/head/header", :locals => { :style => "light" }

.container-gray-12.show-for-large
  = partial "partials/head/header", :locals => { :style => "dark" }

#companyTop.show-for-large data-sticky-container="" 
  nav.nav.nav-desktop.sticky.sticky-nav.container-gray-1.full-width data-options=("marginTop:0; topAnchor:companyTop") data-sticky="" data-theme="light" 
    ul.menu.horizontal.align-center.menu-secondary
      = partial "partials/snippets/nav-sub-company", :locals => { :class_li => "menu-item", :class_a => "menu-header menu-item--link" }

/ #platformTop.show-for-large data-sticky-container="" 
/   nav.sticky.sticky-nav.container-color--white.drop.text-center.full-width data-options=("marginTop:0; topAnchor:platformTop") data-sticky="" 
/     ul.menu.horizontal.align-center
/       = partial "products/nav-platform"
