<aside id="alertTop" class="hide full-width container-color--blue-alt alert-ribbon" data-closable">
	<div class="row align-center">
		<div class="columns text-center">
			<a href="https://content.datica.com/introduction-to-oci-mirth-connect-and-open-source-transforms-dec-15-2017" class="link--white dismiss" title="Register today for Webinar">
				<ul class="alert-ribbon--content menu align-center">
					<li class="spaced-out">Datica Webinar</li>
					<li class="text-center">Open-source Mirth Connect and Transformations</li>
					<li class="text-light">December 15, 12pm CST</li>
				</ul>
        </a>
	    <button class="alert-ribbon--action dismiss close-button button--inverted" aria-label="Dismiss alert" type="button" data-close title="No thanks">
	        <span aria-hidden="true">&times;</span>
	    </button>
		</div>
	</div>
</aside>
<%
# <aside id="alertTop" class="hide full-width container-color--blue-alt alert-ribbon container-image--center" data-closable data-interchange="[https://images.ctfassets.net/189dvqdsjh46/55i8F0QfygcMwAwyUEWoug/8a1254b14cd2b239dbf1f1d178459115/webinar_bg_-_leaf__maroon.jpg?fit=crop&w=2400&h=40&q=60, large]">
# <!-- <img class="alert-ribbon--content" src="https://images.ctfassets.net/189dvqdsjh46/4RVpVLiSjKU00EUom04mKU/e36804be810fb3c3ff8a24d65426cafc/webinar-oci-mirth-1-ribbon__2x.jpg" alt="Webinar - OCI Mirth - December 15"> -->
%>