<footer role="contentinfo" class="section-article container-color--gray-gradient main-footer">
    <div class="row small-up-2 medium-up-3 large-up-6">
        <% data.nav_all.each do |f| %>
            <div class="column group">
                <h5 class="headline-6"><%= f["title"] %></h5>
                <ul class="no-bullet">
                    <% if f.has_key?("children") %>
                        <% f["children"].each do |c| %>
                        <%# inner loop here %>
                            <li>
                                <%= current_link_to c.title, c.url, title: c.desc, class: "link--dark faded" %>
                        <% end %>
                    <% end %>
                </ul>
            </div>
        <% end %>
    </div>
    <div class="row">
        <div class="columns">
            <ul class="menu align-middle group">
                <li>
                    <a class="nav-logo--link" href="/" title="Datica Home"><svg class="nav-logo" id=datica-logo-footer><use class=symbol-icon xlink:href="#datica-logo-horiz"></use></svg></a>
                </li>
                <% data.footer_misc.each do |m| %>
                    <li>
                        <%= current_link_to m.title, m.url, title: m.desc, class: "link--dark faded" %>
                <% end %>
            </ul>
            <ul class="menu align-middle">
                <li class="pad--sm"><img data-src="https://images.ctfassets.net/189dvqdsjh46/7ioiPF1zVKiqYkyCe4QKGi/6438fbb76abda83deac6b9c810745891/hitrust-logo.svg?fm=png&w=240" class="logo-size--large lozad" alt="HITRUST Certified" />
                </li>
                <li class="pad--sm"><img data-src="https://images.ctfassets.net/189dvqdsjh46/1db5oL4HFeKkSGGcCmQACW/22310ce8955be0da9b65addc7a46dbd9/AICPA_SOC_2_badge.svg?fm=png&w=240" class="logo-size--large lozad" alt="AICPA/SOC2 badge" />
                </li>
                <li class="pad--sm">
                    <img data-src="https://images.ctfassets.net/189dvqdsjh46/2VnE1VKgSI0CigIaimYymm/8661955dacafd96c3c565bb5d1503dc8/coalfire-badge.png" class="lozad logo-size--large" />
                    <%# <script defer type='text/javascript' src='https://www.coalfire.com/CMSPages/Coalfire/CertificateSealJS.aspx?cc=248fe0c0-6343-4785-9cb0-0602a6a82a6c'></script> %>
                </li>
                <li class="pad--sm"><img data-src="https://images.ctfassets.net/189dvqdsjh46/2qNhrxRsmEGqUOuCq2qWgU/f67da4afefb727a699a679bdcac9d630/cncf-logo-horizontal.svg?fm=png&w=240" class="logo-size--large lozad" alt="Cloud native computing foundation" /></li>
            </ul>
        </div>
    </div>
</footer>
<div class="strip-bright"></div>