<footer class="section-article container-color--gray-gradient main-footer">
    <div class="row small-up-2 medium-up-3 large-up-5">
        <% data.footer_main.each do |f| %>
            <div class="column group">
                <h5 class="headline-6"><%= f["title"] %></h5>
                <ul class="no-bullet">
                    <% f["children"].each do |c| %>
                    <%# inner loop here %>
                        <li>
                            <%= current_link_to c.title, c.url, title: c.desc, class: "link--dark faded" %>
                    <% end %>
                </ul>
            </div>
        <% end %>
    </div>
    <div class="row align-justify">
        <div class="columns small-12 medium-9 large-10 group">
            <ul class="list-horiz">
                <% data.footer_misc.each do |m| %>
                    <li>
                        <%= current_link_to m.title, m.url, title: m.desc, class: "link--dark faded" %>
                <% end %>
            </ul>
            <hr class="content">
            <ul class="list-horiz">
                <li><img class="logo-size--large" src="https://images.ctfassets.net/189dvqdsjh46/tPI7wEI7zaSEQ2cu6MqOc/7f837591f0a7f85448180a4a1e61158d/logo-hitrust-certified.png?w=200" alt="HITRUST Certified" />&nbsp;
                </li>
                <li><img class="logo-size--large img-crisp" src="https://images.ctfassets.net/189dvqdsjh46/1Tt54MVMgkqIW8OWaYKmoo/7cb2c9e5e3d4f54cbd7498cc7e001fec/logo-aicpa.png?w=120" alt="AICPA/SOC2 badge" />&nbsp;
                </li>
                <li><script type='text/javascript' src='https://www.coalfire.com/CMSPages/Coalfire/CertificateSealJS.aspx?cc=248fe0c0-6343-4785-9cb0-0602a6a82a6c'></script>
                </li>
            </ul>
        </div>
    </div>
</footer>
<div class="strip-bright"></div>