<footer class="section-article container-color--gray-gradient main-footer">
    <div class="row small-up-2 medium-up-3 large-up-6">
        <% data.nav_all.each do |f| %>
            <div class="column group">
                <h5 class="headline-6"><%= f["title"] %></h5>
                <ul class="no-bullet">
                    <% if f.has_key?("children") %>
                        <% f["children"].each do |c| %>
                        <%# inner loop here %>
                            <li>
                                <%= current_link_to c.title, c.url, title: c.desc, class: "link--dark faded" %>
                        <% end %>
                    <% end %>
                </ul>
            </div>
        <% end %>
    </div>
    <div class="row align-justify align-middle group">
        <div class="columns">
            <ul class="list-horiz">
                <li>
                    <a class="nav-logo--link"><svg class="nav-logo" id=datica-logo-footer><use class=symbol-icon xlink:href="#datica-logo-horiz"></use></svg></a>
                </li>
                <% data.footer_misc.each do |m| %>
                    <li>
                        <%= current_link_to m.title, m.url, title: m.desc, class: "link--dark faded" %>
                <% end %>
            </ul>
        </div>
<!--         <div class="columns small-12 medium-2">
            
        </div> -->
    </div>
    <div class="row">
        <div class="columns">
            <ul class="list-horiz">
                <li><img class="logo-size--large lozad" data-src="https://images.ctfassets.net/189dvqdsjh46/7ioiPF1zVKiqYkyCe4QKGi/6438fbb76abda83deac6b9c810745891/hitrust-logo.svg" alt="HITRUST Certified" />
                </li>
                <li><img class="logo-size--large lozad" data-src="https://images.ctfassets.net/189dvqdsjh46/1db5oL4HFeKkSGGcCmQACW/22310ce8955be0da9b65addc7a46dbd9/AICPA_SOC_2_badge.svg" alt="AICPA/SOC2 badge" />
                </li>
                <li><script defer type='text/javascript' src='https://www.coalfire.com/CMSPages/Coalfire/CertificateSealJS.aspx?cc=248fe0c0-6343-4785-9cb0-0602a6a82a6c'></script>
                </li>
                <li><img class="logo-size--large lozad" src="https://images.ctfassets.net/189dvqdsjh46/2qNhrxRsmEGqUOuCq2qWgU/f67da4afefb727a699a679bdcac9d630/cncf-logo-horizontal.svg" alt="Cloud native computing foundation"></li>
            </ul>
        </div>
    </div>
</footer>
<div class="strip-bright"></div>