<header class="form-header">
    <p>Get your copy of our HITRUST certification journey</p>
</header>
<form class="group" action="#">
    <div class="form-group">
        <label>First name: *</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label>Last name: *</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label>Email: *</label>
        <input type="email">
    </div>
    <div class="form-group">
        <label>Phone number: *</label>
        <input type="number">
    </div>
    <div class="form-group">
        <label>Subscribe to the Datica blog?: </label>
        <p><input type="radio"> Yes! Sign me up</p>
    </div>
    <a href="#" class="button button--primary">Schedule a Conversation</a>
</form>
