<header class="form-header">
    <p>Schedule a Conversation Today</p>
</header>
<form class="group" action="#">
    <div class="form-group">
        <label>First name: *</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label>Last name: *</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label>Email: *</label>
        <input type="email">
    </div>
    <div class="form-group">
        <label>Phone number: *</label>
        <input type="number">
    </div>
    <div class="form-group">
        <label>Website (URL): </label>
        <input type="text" placeholder="http://...">
    </div>
    <div class="form-group">
        <label>Type of company: </label>
        <select>
            <option value="Hospital / Health System">Hospital / Health System</option>
            <option value="Life Sciences">Life Sciences</option>
            <option value="Payor">Payor</option>
            <option value="Digital Health Service Provider">Digital Health Service Provider</option>
            <option value="Agency / Consultant">Agency / Consultant</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div class="form-group">
        <label>Type of company: </label>
        <select>
            <option value="1-10">1-10</option>
            <option value="11-50">11-50</option>
            <option value="51-200">51-200</option>
            <option value="200-500">200-500</option>
            <option value="500+">500+</option>
        </select>
    </div>
    <div class="form-group">
        <label>What is your role?: </label>
        <select>
            <option value="C-level/SVP">C-level/SVP</option>
            <option value="VP/Director">VP/Director</option>
            <option value="Manager">Manager</option>
            <option value="Individual Contributor">Individual Contributor</option>
            <option value="Intern">Intern</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div class="form-group">
        <label>What products are you interested in learning more about?: </label>
        <p><input type="radio"> Compliant Cloud</p>
        <p><input type="radio"> Managed Integration</p>
    </div>
    <div class="form-group">
        <label>Subscribe to the Datica blog?: </label>
        <p><input type="radio"> Yes! Sign me up</p>
    </div>
    <a href="#" class="button button--primary">Schedule a Conversation</a>
</form>
