// core styles for printing and ebooks. Unique ebooks can call their own styles in separate css files.
@charset 'utf-8';
@import '../settings';
@import '../mixins/functions';
/* this stylesheet is used when generating a PDF with PrinceXML or any other tool that understands the CSS used. */
/* define a page */
@page {
   size: 5.5in 8.5in;  
   margin: 60pt 40pt 60pt;
}

/* styles for the right hand spread
Bottom left we display the title of the book, bottom right the page using a CSS counter, top right the content of the current chapter */
@page:right{ 
    @bottom-left {
       margin: 10pt 0 30pt 0;
       border-top: .25pt solid $gray-5;
       // content: "Productivity Essays";
       font-size: 9pt;
       color: $gray-3;
    }
    @bottom-right { 
       margin: 10pt 0 30pt 0;
       border-top: .25pt solid $gray-5;
       content: counter(page);
       font-size: 9pt;
    }
    @top-right {
       content:  string(doctitle);
       margin: 30pt 0 10pt 0;
       font-size: 9pt;
       color: $gray-3;
    }
}
/* styles for the left hand spread 
Bottom right book title, bottom left current page */
@page:left {
    @bottom-right {
        margin: 10pt 0 30pt 0;
        border-top: .25pt solid $gray-5;
        // content: "Productivity Essays";
        font-size: 9pt;
        color: $gray-3;
    }
    @bottom-left { 
        margin: 10pt 0 30pt 0;
        border-top: .25pt solid $gray-5;
        content: counter(page);
        font-size: 9pt;
    }
}
/* reset chapter and figure counters on the body */
body {
    counter-reset: chapternum figurenum;
    font-family: $font_sans;
    // font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    line-height: 1.3;
    font-size: 11pt;
}
/* get the title of the current chapter - this will be the content of the h1 
reset figure counter as figures start from 1 in each chapter */
h1 {
    string-set: doctitle content();
    page-break-before: always;
    counter-reset: figurenum;
    line-height: 1.3;
}
/* increment chapter counter */
h1.chapter:before {
    counter-increment: chapternum;
    content: counter(chapternum) ". ";
}
.lead {
  font-family: $font_serif;
}
/* increment and display figure counter */
figcaption:before {
    counter-increment: figurenum;
    content: counter(chapternum) "-" counter(figurenum) ". ";
}
h1,h2,h3,h4,h5 {
    font-weight: bold;
    page-break-after: avoid;
    page-break-inside:avoid;
}
h1+p, h2+p, h3+p {
    page-break-before: avoid;
}
.headline-4 {
  font-size: 12pt;
}
.spaced-out {
  letter-spacing: 0.1pt;
  text-transform: uppercase;
}
table, figure {
    page-break-inside: avoid;
    font-size: smaller;
}
ul.toc {
    list-style: none;
    margin: 0;
    padding: 0;
    /* create page numbers using target-counter in the TOC */
    a::after {
          content: leader('.') target-counter(attr(href), page);
    }
    li {
        line-height: 2;
    }
    li a {
        text-decoration: none;
    }
}
a {
    color: #000;
    /* add page number to cross references */
    &.xref:after {
        content: " (page " target-counter(attr(href, url), page) ")";
    }
}
chapter#cover {
  page: chapter-cover;
}
@page chapter-cover:first {
  background: {
    image: url("dhsf-ebook-cover-2x.png");
    attachment: fixed;
    repeat: no-repeat;
    size: cover;
    position: center center;
  }
  prince-background-image-resolution: "288dpi";
}
