<!-- index: | needs competitive info. -->

<div id="vs" class="group--2x row align-center align-middle">
    <div class="columns small-12 medium-6 large-4">
        <h3 class="headline-4">&ldquo;But I have compliance already covered!&rdquo;</h3>
        <p class="lead">Other vendors do not completely cover compliance in the cloud to the extent Datica does.</p>
        <p class="lead">If you already manage compliance on your own, then you are taking on more risk, complexity, and cost than you need to.</p>
        <p class="lead">Either way, it's beneficial to understand how Datica can increase your compliance coverage, while reducing cost and risk.</p>
    </div>
    <div class="columns small-12 medium-6 large-6">
        <a href="/platform/compliance" title="Datica vs. roll your own compliance" class="button button--light">
            <div class="callout-content--left">
                <h4 class="headline-5">Datica vs. roll your own compliance</h4>
                <p>You are shouldering more costs and risk than you should be by relying on AWS or Azure covering only 1/10th of controls. Learn how we save you in the long-run.</p>
            </div>
            <i class="fa fa-icon fa-caret-right fa-3x callout-icon--right"></i>
        </a>
        <a href="platform/integration" title="Datica vs. other compliant platforms" class="button button--light">
            <div class="callout-content--left">
                <h4 class="headline-5">Datica vs. other compliant platforms</h4>
                <p>Comparison of Business Associate Agreements will show that not all compliance controls are met by that provider. We are also the only HITRUST platform in healthcare.</p>
            </div>
            <i class="fa fa-icon fa-caret-right fa-3x callout-icon--right"></i>
        </a>
        <a href="/services" title="Datica vs. managed services providers" class="button button--light">
            <div class="callout-content--left">
                <h4 class="headline-5">Datica vs. managed services providers</h4>
                <p>Consultants and service firms might help you with initial setup in the cloud, but any continuous engagement will be extremely expensive.</p>
            </div>
            <i class="fa fa-icon fa-caret-right fa-3x callout-icon--right"></i>
        </a>
    </div>
</div>

<!-- index: | top text, with black cards. -->
<div class="row align-center row--card-grid">
    <div class="columns small-12 large-4">
        <div class="card container-color--dark">
            <div class="card-section">
                <h3 class="headline-4">Focus on your application, not on HIPAA compliance infrastructure.</h3>
                <p>Datica manages the entirety of compliance at the infrastructure level so you can focus on building your product.</p>
                <p>Compliance is met by mapping all HIPAA controls to services and configurations Datica manages on your behalf, saving you time while de-risking exposure.</p>
            </div>
            <div class="card-divider card-divider--flush">
                <a href="/platform" title="See how it works" class="button">See how it works</a>
            </div>
        </div>
    </div>
    <div class="columns small-12 large-4">
        <div class="card container-color--dark">
            <div class="card-section">
                <h3 class="headline-4">The most trusted platform as a service in Healthcare.</h3>
                <p>Millions of mission-critical patient records secured.</p>
                <p>The most live instances of Mirth on the planet. Over 500,000 messages processed per week.</p>
                <p>Twice HITRUST CSF Certified. Over 1,000 secure audits by customers passed with flying colors.</p>
            </div>
            <div class="card-divider card-divider--flush">
                <a href="/platform/success" title="Read customer stories" class="button hollow hollow-inverted">Read customer stories</a>
            </div>
        </div>
    </div>
</div>

<!-- index: | variation with plain columns. Doesn't work on small. -->
<div class="row align-center">
    <div class="columns small-12 medium-6 large-5">
        <h3 class="headline-4">Focus on your application, not on HIPAA compliance infrastructure.</h3>
        <p>Datica manages the entirety of compliance at the infrastructure level so you can focus on building your product.</p>
        <p>Compliance is met by mapping all HIPAA controls to services and configurations Datica manages on your behalf, saving you time while de-risking exposure.</p>
    </div>
    <div class="columns small-12 medium-6 large-5">
        <h3 class="headline-4">The most trusted platform as a service in Healthcare.</h3>
        <p>Millions of mission-critical patient records secured.</p>
        <p>The most live instances of Mirth on the planet. Over 500,000 messages processed per week.</p>
        <p>Twice HITRUST CSF Certified. Over 1,000 secure audits by customers passed with flying colors.</p>
    </div>
</div>
<div class="row align-center">
    <div class="columns small-12 medium-6 large-5">
        <a href="/platform" title="See how it works" class="button">See how it works</a>
    </div>
    <div class="columns small-12 medium-6 large-5">
        <a href="/platform/success" title="Read customer stories" class="button hollow hollow-inverted">Read customer stories</a>
    </div>
</div>
