---
title: "Discover: A Curated Collection of Healthcare Technology Topics from Datica"
summary: "A Curated Collection of Healthcare Technology Topics from Datica"
author: "Datica, Inc."
tags: "compliance, HIPAA, HL7, FHIR, interoperability, EHR, integration"
date: "January 1, 2017"
share_image: "https://images.ctfassets.net/189dvqdsjh46/3Ll0a3gLi8wKG8A84mUokm/fabae03bd9e4da4e60173d4c2fe89a30/blog-share-default.png"
layout: basic
---
<% sorted_posts = data.site.discover.to_a.sort_by{ |id, post| post['title'] } %>
<div class="container-gray-10 container-image--center" data-interchange="[https://images.ctfassets.net/189dvqdsjh46/6KPzYzTJLi6QgqSwAiEy06/9fb4b68a3a6f3d56449a91aa411454c9/ski_hiker_in_snow_trail__4x3_crop.jpg?w=1600&q=45, medium]">
    <%= partial "partials/snippets/header", :locals => { :style => "dark" } %>
    <section class="section-article">
        <div class="row align-center">
            <div class="columns small-12 large-8 text-center group--2x">
                <h1 class="headline-1">Discover</h1>
                <p class="lead"><%= current_page.data.summary %></p>
            </div>
        </div>
        <div class="row align-center align-middle small-up-1 medium-up-2 large-up-3">
            <% sorted_posts.each do | id, post | %>
            <div class="column">
                <%= partial "partials/cards/discover", :locals => { :post => post, :classes => "" } %>
            </div>
            <% end %>
        </div>
    </section>
</div>
