---
title: "About Datica"
summary: "Datica removes the barriers for digital health in the cloud"
author: "Datica, Inc."
tags: "leadership, strategy, people"
date: "January 1, 2017"
ogType: "business.business"
customCSS: "about-us"
layout: company
---

<section class="section-article container-color--dark container-image--fixed" data-interchange="[https://images.ctfassets.net/189dvqdsjh46/3eF64DVasUAAKacOwWqmce/f63c1ea700487b2d8bda2a8110fac69e/background-about-us.jpg, small]">
    <div class="row align-center">
        <div class="columns small-12 large-8 text-center">
            <h4 class="headline-6 subheader--spaced-out text--yellow-glow">About Us</h4>
            <h1 class="headline-3">The compliance layer for cloud native apps</h1>
        </div>
    </div>
</section>
<section class="section-article container-color--gray-light">
    <div class="row">
        <div class="columns small-12 medium-5 large-6 about-us-hero-left-block">
            <div class="callout drop">
                <div class="block">
                    <h4 class="inline-highlight">Why We Exist</h4>
                    <h2 class="headline-3">Empowering Digital Health Success</h2>
                    <p>The complexity of compliance on the cloud is holding back the adoption of cloud native technology in highly regulated industries. By removing compliance as a concern, we do our part to help propel technology transformation in industries that lag behind. But digital health faces a multi-faceted problem, which is why we published the Digital Health Success Framework. Helping to address these challenges is why we extend our expertise into other infrastructure-related problems, like interoperability with Electronic Medical Records.</p>
                </div>
                <div class="block">
                    <h4 class="inline-highlight">What We Are</h4>
                    <h2 class="headline-3">The Most Secure and Compliant Infrastructure Possible</h2>
                    <p>The hardest part about compliance on the cloud is between the physical infrastructure (which is the responsibility of AWS, Azure, or GCP) and your application. In another words, the operating system layer of cloud native architectures. We solve that by helping you address your attestation responsibilities with a suite of products built to fit your specific use case on the cloud.</p>
                </div>
                <div class="block">
                    <h4 class="inline-highlight">How We Do It</h4>
                    <h2 class="headline-3">Best Practices are Best Practices</h2>
                    <img class="logo-size--large float-right lozad" data-src="https://images.ctfassets.net/189dvqdsjh46/7ioiPF1zVKiqYkyCe4QKGi/6438fbb76abda83deac6b9c810745891/hitrust-logo.svg" alt="HITRUST Certified" />
                    <p>By mapping the very best compliance management frameworks, like the HITRUST CSF, to the requirements of other global regimes, we give customers a compliance story across geographies. We started with HIPAA in 2013, tackling the requirements of the most conservative and highest regulated industry on the cloud, and have expanded since then.</p>
                </div>
                <div class="block">
                    <h4 class="inline-highlight">How We Create Value</h4>
                    <h2 class="headline-3">Compliance Breeds Innovation</h2>
                    <img class="logo-size--large float-right lozad" src="https://images.ctfassets.net/189dvqdsjh46/2qNhrxRsmEGqUOuCq2qWgU/f67da4afefb727a699a679bdcac9d630/cncf-logo-horizontal.svg" alt="Cloud native computing foundation">
                    <p>When regulated organizations have a handle on their cloud compliance program, they can innovate at the speed necessary to keep pace with the competition. It's a disruptive world out there, and the cloud gives companies an edge. Controlling compliance on the cloud is a step towards avoiding disruption.</p>
                </div>
                <div class="block">
                    <h4 class="inline-highlight">What We Believe</h4>
                    <h2 class="headline-3">Trust Is Earned</h2>
                    <ul>
                        <li>Compliance moves at the speed of trust.</li>
                        <li>Transparency is how complex subjects, like HIPAA or GDPR, become easier to understand. We're trusted because we're transparent.</li>
                        <li>Healthcare application development shouldn't be harder than other industry just because of HIPAA. Doing business in the European Union shouldn't be harder because of GDPR. Compliance shouldn't block progress.</li>
                        <li>Give back to the developer community whenever possible. Use open source tools whenever possible. Learn more about our <a class="link-arrow" href="/open-source">open source contributions.</a></li>
                        <li>We know we can't make the cloud better alone. Industry collaboration is important. Work together for the greater good.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="columns small-12 medium-7 large-6">
            <div id="timeline" class="timeline--vertical">
                <div class="line" id="line"></div>
                <div class="block">
                    <div class="date">
                        <span>May 2013</span>
                    </div>
                    <span class="dot"></span>
                    <div class="content">
                        Company is originally founded as <img class="inline-image" src="https://images.ctfassets.net/189dvqdsjh46/5PZUCpxbZmkYOi88eqKmmw/0f315e291f02614dd83746c80e936c71/logo-catalyze-blue.svg" alt="Catalyze">, a startup focused on helping digital health manage HIPAA on the cloud.
                    </div>
                </div>
                <div class="block">
                    <div class="date">
                        <span>Spring 2014</span>
                    </div>
                    <span class="dot"></span>
                    <div class="content">
                        Blue Shield California and The Department of Veterans Affairs become customers, establishing Catalyze as a <a href="/compliant-kubernetes-service/">trusted partner</a>.<br><img class="inlineblock-image" src="https://images.ctfassets.net/189dvqdsjh46/3S68s3zk0EwaQEIQwmiuwK/358f5410339787b8458b492b67ff4ca3/va-logo.png" alt="Dept. of Veteran Affairs"><img class="inlineblock-image" src="https://images.ctfassets.net/189dvqdsjh46/z5mgVS11sWgcCgA4ekyAU/0bf920ed7818628540640555292bbd1a/bsc-logo-wide.png" alt="Blue Shield of California">
                    </div>
                </div>
                <div class="block">
                    <div class="date">
                        <span>October 2014</span>
                    </div>
                    <span class="dot"></span>
                    <div class="content">
                        Catalyze completes first managed integration, a service which now helps customers send and receive millions of messages per day.
                    </div>
                </div>
                <div class="block">
                    <div class="date">
                        <span>Throughout <br> 2015</span>
                    </div>
                    <span class="dot"></span>
                    <div class="content">
                        <a href="/innovation">The Healthcare Innovation Series</a> interviews some of the industry's best thought leaders asking the question <em>How does healthcare innovate?</em> The interviews were summarized in the ebook <a href="/innovation/2015"><em>7 Big Ideas</em></a>.
                    </div>
                </div>
                <div class="block">
                    <div class="date">
                        <span>July 2015</span>
                    </div>
                    <span class="dot"></span>
                    <div class="content">
                        Catalyze achieves its first HITRUST CSF Certification, which has been renewed annually since.
                    </div>
                </div>
                <div class="block">
                    <div class="date">
                        <span>Nov. 2015</span>
                    </div>
                    <span class="dot"></span>
                    <div class="content">
                        Catalyze reaches 100 customers.
                    </div>
                </div>
                <div class="block">
                    <div class="date">
                        <span>Apr. 2016</span>
                    </div>
                    <span class="dot"></span>
                    <div class="content">
                        CEO Travis Good, MD, is founding member of the Business Associate Council within the HITRUST Alliance.
                    </div>
                </div>
                <div class="block">
                    <div class="date">
                        <span>Sept. 2016</span>
                    </div>
                    <span class="dot"></span>
                    <div class="content">
                        Catalyze raises $6.5 Million in Series B financing to meet the growing need of trusted connectivity within enterprise healthcare.
                    </div>
                </div>
                <div class="block">
                    <div class="date">
                        <span>Feb. 2017</span>
                    </div>
                    <span class="dot"></span>
                    <div class="content">
                        Catalyze is now Datica. <a href="/catalyze">Read about the transition <i class="fa fa-caret-right"></i></a>
                    </div>
                </div>
                <div class="block">
                    <div class="date"><span>March 2018</span></div>
                    <span class="dot"></span>
                    <div class="content">
                        Datica <a href="/press-release/datica-launches-kubernetes-enabled-platform/" title="Read the press release">launches Kubernetes-enabled platform</a> to extend AWS and cloud accounts for customers.
                    </div>
                </div>
                <div class="block">
                    <div class="date"><span>May 2018</span></div>
                    <span class="dot"></span>
                    <div class="content">
                        Datica <a href="/press-release/datica-celebrates-5th-anniversary-as-a-cloud-compliance-and-security-leader/" title="Read the press release">Celebrates 5th anniversary</a> as a compliance and security leader for the cloud.
                    </div>
                </div>
                <div class="block">
                    <div class="date"><span>June 2018</span></div>
                    <span class="dot"></span>
                    <div class="content">
                        Datica joins the Cloud Native Computing Foundation.
                    </div>
                </div>
                <div class="block">
                    <div class="date"><span>September 2018</span></div>
                    <span class="dot"></span>
                    <div class="content">
                        The <a href="https://completecloudcompliance.com" title="get the book">Complete Cloud Compliance</a> book is published.
                    </div>
                </div>
                <!-- <div class="block">
                    <div class="date"><span>October 2018</span></div>
                    <span class="dot"></span>
                    <div class="content">
                        Datica announces the <a href="/monitor" title="CCMS">Cloud Compliance Management System</a> (CCMS), giving customers constant visibility of the precise state of their cloud environments.
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>
<section class="section-article">
    <div class="row align-center">
        <div class="columns small-12 medium-8 text-center">
            <h2 class="headline-3">A Strong Backing</h2>
            <div class="row small-up-2 medium-up-4 align-middle">
                <div class="column"><img class="logo-size--large img-crisp lozad" data-src="https://images.ctfassets.net/189dvqdsjh46/4cObssAG4goygs6kYoggm6/125b40ff261847103d0d9c9fc22d4393/av-logo.png?h=120" alt="Arthur Ventures"></div>
                <div class="column"><img class="logo-size--large img-crisp lozad" data-src="https://images.ctfassets.net/189dvqdsjh46/54MNeLPfOM68gyIya8sySU/1ae051e26424b0888c0bb93d8d3ba0b3/bc-logo.png?h=120" alt="Baird Ventures"></div>
                <div class="column"><img class="logo-size--large img-crisp lozad" data-src="https://images.ctfassets.net/189dvqdsjh46/4BIGV3EJ9SmayOc8YOyeui/f38bf67be633f330fa5470de6e55bd34/cv-logo.png?h=120" alt="Chicago Ventures"></div>
                <div class="column"><img class="logo-size--large img-crisp lozad" data-src="https://images.ctfassets.net/189dvqdsjh46/6bhxfVnDKEUmWcC28Esk4I/9ff2c80e24438b3356e58470f9b61f9f/lavc-logo.png?h=120" alt="Lewis and Clark Ventures"></div>
            </div>
        </div>
    </div>
</section>
<section class="section-article container-gray-11">
    <div class="row align-center">
        <div class="columns small-12 medium-10 large-6">
            <%= partial "partials/section-promos/careers", :locals => { :tagline => "We're building a team to transform healthcare. Join us!" } %>
        </div>
    </div>
</section>

