---
title: "About Datica"
summary: "Datica removes the barriers for digital health in the cloud"
author: "Datica, Inc."
tags: "leadership, strategy, people"
date: "January 1, 2017"
ogType: "business.business"
customCSS: "about-us"
layout: company
---

<section class="section-article container-color--dark container-image--fixed" data-interchange="[/public/img/background-about-us.jpg, small]">
    <div class="row align-center">
        <div class="columns small-12 large-8 text-center">
            <h4 class="headline-6 subheader--spaced-out text--yellow-glow">About Us</h4>
            <h1 class="headline-3">The compliance and data partner for all of healthcare</h1>
            <%= 
                partial "partials/snippets/button", 
                    :locals => {
                        :label => "We're hiring", 
                        :title => "See open positions at Datica", 
                        :url => "/careers", 
                        # :rel => "", 
                        :button_classes => "button hollow hollow-inverted", 
                        :icon => "icon-chevron-right", 
                        :icon_color => "white", 
                        :icon_align => "right"
                    }
            %>
        </div>
    </div>
</section>
<section class="section-article container-color--gray-light">
    <div class="row">
        <div class="columns small-12 medium-5 large-6 about-us-hero-left-block">
            <div class="callout drop">
                <div class="block">
                    <h4 class="inline-highlight">Why We Exist</h4>
                    <h2>Helping Healthcare Transition</h2>
                    <p>We believe the future of value-based patient care will be powered by HIPAA compliant, scalable, interoperable infrastructure. We exist to help all of healthcare transition to that future by de-risking the challenges that come with it.</p>
                </div>
                <div class="block">
                    <h4 class="inline-highlight">What We Are</h4>
                    <h2>The Platform for Digital Health</h2>
                    <p>Datica is the <a href="/platform">digital health platform</a> powering the next era of healthcare technology. In a post-EHR world, technology focused on outcomes will be brought together with the patient at the center. Those businesses and tools, innovations and technologies need a platform to enable the cloud, resolve compliance, facilitate interoperability, and enact security. Datica is that platform.</p>
                </div>
                <div class="block">
                    <img class="hitrust-logo" src="/public/img/logo-hitrust-certified.png" alt="HITRUST Logo">
                    <h4 class="inline-highlight">How We Do It</h4>
                    <h2>Healthcare's HITRUST CSF Certified Cloud</h2>
                    <p>Datica provides <a href="/discover/hipaa-compliance">HIPAA compliant</a>, <a href="/discover/hitrust">HITRUST CSF Certified</a> <a href="/discover/healthcare-cloud">cloud-based infrastructure</a> for developers across healthcare. We relieve the burden of compliance so teams can focus on bettering patient outcomes, and think compliance should be the last thing <a href="/innovation">innovators</a> think about. Our approach to <a href="/discover/ehr-integrations">integration</a> removes interoperability as a barrier while creating a trusted networked world using open standards.</p>
                </div>
                <div class="block">
                    <img class="hlseven-logo" src="/public/img/hl7-membership-gold.png" alt="HL7 Logo">
                    <h4 class="inline-highlight">How We Create Value</h4>
                    <h2>Integration Breeds Innovation</h2>
                    <p>We believe connection is key to bettering patient outcomes. Health system administrators functionally innovate through rapid prototyping of internal projects or assimilation of external solutions to real problems. Integration accelerates innovation because powerful ideas have little impact until they are first-class citizens of the health information system.</p>
                </div>
                <div class="block">
                    <h4 class="inline-highlight">What We Believe</h4>
                    <h2>Trust Is Earned</h2>
                    <ul>
                        <li>Transparency is how complex subjects, like HIPAA or HL7, become easier to understand. We're trusted because we're transparent.</li>
                        <li>Healthcare application development shouldn't be harder than other industry just because of HIPAA. Products shouldn't compete on HIPAA compliance and interoperability, which should be standard components.</li>
                        <li>Give back to the healthcare community whenever possible. Use open source tools whenever possible. Our <a href="/open-source">open source contributions <i class="fa fa-caret-right"></i></a></li>
                        <li>We know we can't make healthcare better alone. Industry collaboration is important. Work together for the greater good.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="columns small-12 medium-7 large-6">
            <div id="timeline" class="timeline--vertical">
                <div class="line" id="line"></div>
                <div class="block">
                    <div class="date">
                        <span>May 2013</span>
                    </div>
                    <span class="dot"></span>
                    <div class="content">
                        <p>Company is originally founded as <img class="inline-image" src="/public/img/logo-catalyze-blue.svg" alt="Catalyze"> by <a href="/about/travis">Travis Good, MD</a>, and Mohan Balachandran, two friends focused on helping healthcare transition to value-based patient care.</p>
                    </div>
                </div>
                <div class="block">
                    <div class="date">
                        <span>Aug. 2013</span>
                    </div>
                    <span class="dot"></span>
                    <div class="content">
                        <p>Catalyze launches Mobile Backend as a Service as first product. Focuses on enabling health system and enterprise innovation groups speed up their development process.</p>
                    </div>
                </div>
                <div class="block">
                    <div class="date">
                        <span>Spring 2014</span>
                    </div>
                    <span class="dot"></span>
                    <div class="content">
                        <p>Blue Shield California and The Department of Veterans Affairs become customers, establishing Catalyze as a <a href="/platform/success">trusted partner</a>.<br><img class="inlineblock-image" src="/public/img/customer-logos/veterans-affairs-logo.png" alt="Dept. of Veteran Affairs"><img class="inlineblock-image" src="/public/img/customer-logos/bsc-logo-wide.png" alt="Blue Shield of California"></p>
                    </div>
                </div>
                <div class="block">
                    <div class="date">
                        <span>June 2014</span>
                    </div>
                    <span class="dot"></span>
                    <div class="content">
                        <p>Catalyze launches first-ever HIPAA compliant Platform as a Service focused on enabling digital startups to build applications in an experience similar to Heroku.</p>
                    </div>
                </div>
                <div class="block">
                    <div class="date">
                        <span>October 2014</span>
                    </div>
                    <span class="dot"></span>
                    <div class="content">
                        <p>Catalyze completes first managed integration, a service which now helps customers send and receive millions of messages per day.</p>
                    </div>
                </div>
                <div class="block">
                    <div class="date">
                        <span>Throughout <br> 2015</span>
                    </div>
                    <span class="dot"></span>
                    <div class="content">
                        <p><a href="/innovation">The Healthcare Innovation Series</a> interviews some of the industry's best thought leaders asking the question <em>How does healthcare innovate?</em> The interviews were summarized in the ebook <a href="/innovation/2015"><em>7 Big Ideas</em></a>.</p>
                    </div>
                </div>
                <div class="block">
                    <div class="date">
                        <span>July 2015</span>
                    </div>
                    <span class="dot"></span>
                    <div class="content">
                        <p>Catalyze achieves its first HITRUST CSF Certification, which has been renewed annually since.</p>
                    </div>
                </div>
                <div class="block">
                    <div class="date">
                        <span>Nov. 2015</span>
                    </div>
                    <span class="dot"></span>
                    <div class="content">
                        <p>Catalyze reaches 100 customers.</p>
                    </div>
                </div>
                <div class="block">
                    <div class="date">
                        <span>Dec. 2015</span>
                    </div>
                    <span class="dot"></span>
                    <div class="content">
                        <p>Catalyze evolves its managed integration services and launches <img class="inline-image" src="/public/img/logo-redpoint.png" alt="Managed Integration"></p>
                    </div>
                </div>
                <div class="block">
                    <div class="date">
                        <span>Feb. 2016</span>
                    </div>
                    <span class="dot"></span>
                    <div class="content">
                        <p>Catalyze broadens availability of Platform as a Service to enterprise healthcare vendors and health systems, relaunches as <img class="inline-image" src="/public/img/logo-stratum.svg" alt="Compliant Cloud"></p>
                    </div>
                </div>
                <div class="block">
                    <div class="date">
                        <span>Mar. 2016</span>
                    </div>
                    <span class="dot"></span>
                    <div class="content">
                        <p>Partnership with Microsoft announced, Azure support available. Partnership announcements with Salesforce and HOSTING soon follow.</p>
                    </div>
                </div>
                <div class="block">
                    <div class="date">
                        <span>Apr. 2016</span>
                    </div>
                    <span class="dot"></span>
                    <div class="content">
                        <p>Travis is founding member of the Business Associate Council within the HITRUST Alliance.</p>
                    </div>
                </div>
                <div class="block">
                    <div class="date">
                        <span>Sept. 2016</span>
                    </div>
                    <span class="dot"></span>
                    <div class="content">
                        <p>Catalyze raises $6.5 Million in Series B financing to meet the growing need of trusted connectivity within enterprise healthcare.</p>
                    </div>
                </div>
                <div class="block">
                    <div class="date">
                        <span>Feb. 2017</span>
                    </div>
                    <span class="dot"></span>
                    <div class="content">
                        <p>Catalyze is now Datica. <a href="/catalyze">Read about the transition <i class="fa fa-caret-right"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="row full-width collapse">
    <div class="columns small-6 medium-4 show-for-medium">
        <img src="https://images.contentful.com/189dvqdsjh46/2SMG75tdbiKqW0A8gEAQkU/18da5240275aa4ff34cffa83a61b3932/datica-nook-with-graphic-wall-print.jpg?fit=thumb&w=800&h=600&q=70" alt="Datica Life">
    </div>
    <div class="columns small-6 medium-4">
        <img src="https://images.contentful.com/189dvqdsjh46/36mtVNnzTa6osewKmQQ6cQ/867f9b8131320cc64f98aa4b11bb371b/Catalyze_All-Hands_March_2016_005.jpg?fit=thumb&w=800&h=600&q=70" alt="Datica Life">
    </div>
    <div class="columns small-6 medium-4">
        <img src="https://images.contentful.com/189dvqdsjh46/3dS5k3WuZG800qKYs0W48W/8f9db566386b52ab3eeb4e96c2a97c4a/datica_team_-_hall_chat_2_P1040676.jpg?fit=thumb&w=800&h=600&q=70" alt="Datica Office">
    </div>
</section>
<section class="section-article container-color--gray-light">
    <div class="row align-center">
        <div class="columns small-12 medium-8 text-center">
            <h2 class="headline-3">Our People</h2>
            <p class="lead">Datica's vision is derived from the company's holistic view of healthcare. The foundation of the company is built from members previously at Rackspace, the NSA, Epic, NASA, Influence Health, Intel, and industries such as meteorology, telephony, and pharmaceuticals. The team is a strong mix of industry experts and entrepreneurial veterans. We're dedicated to a culture of transparency.</p>
            <a href="/leadership" class="button button--primary">Our Leadership</a>
        </div>
    </div>
</section>
<section class="section-article">
    <div class="row align-center">
        <div class="columns small-12 medium-8 text-center">
            <h2 class="headline-3">A Strong Backing</h2>
            <div class="row small-up-2 medium-up-4">
                <div class="column"><img src="/public/img/investors/av-logo.png" alt="Arthur Ventures"></div>
                <div class="column"><img src="/public/img/investors/bc-logo.png" alt="Baird Ventures"></div>
                <div class="column"><img src="/public/img/investors/cv-logo.png" alt="Chicago Ventures"></div>
                <div class="column"><img src="/public/img/investors/lavc-logo.png" alt="Lewis and Clark Ventures"></div>
            </div>
        </div>
    </div>
</section>
<section class="section-article container-gray-11">
    <div class="row align-center">
        <div class="columns small-12 medium-10 large-6">
            <%= partial "partials/section-promos/careers", :locals => { :tagline => "We're building a team to transform healthcare. Join us!" } %>
        </div>
    </div>
</section>

