@charset 'utf-8';
@import '../settings';
@import '../mixins/functions';

.content-dynamic {
    h2 a, h3 a { // adding "anchor" icon on hover with auto-linking IDs middleman adds to articles
        @include link-anchor;
    }
    h2 a, h3 a {
        color: $gray-3;
    }
    h2 a {
        font-weight: $font-weight-regular;
    }
    blockquote { // overrides for serif quote style, trying to reduce type styles
        quotes:       none;
        font-family:  $font_sans;
        font-size:    104%;
        font-style:   italic;
        border-left:  6px solid transparentize($color_prime, 0.8);
        margin-left:  -1.5rem;
        padding-left: 1rem;
        line-height:  1.5;
        p {
            line-height: 1.5;
        }
    }
}