@charset 'utf-8';
@import '../settings';
@import '../../../../node_modules/foundation-sites/scss/util/_mixins.scss';
// @import '../../../../node_modules/foundation-sites/scss/components/_callout.scss';
// @import '../mixins/colors';
@import '../mixins/functions';
// @import '../mixins/animation';
// @import '../vendor/slick';
@import '../modules/blog';
// @import '../modules/fonts-optional';

$gap: calc(1rem + 2vw);
body.blog {
    background-color: $gray-10;
}
// .post-card {
// }
// .item {
// }
.featured-posts {
    margin: $gap;
}
.post-card {
    .media-object { // person-card component overrides
        margin-bottom: 0;
    }
    .avatar--large {
        width: 3rem;
    }
}
@supports not (display: grid) { // fallback for older browsers. https://caniuse.com/#search=grid
    .grid-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .item {
        margin-bottom: 2rem;
    }
    .post-card {
        padding: 1rem 1.5rem;
        @include breakpoint (medium) {
            min-width: 20rem;
            max-width: 45rem;
        }
    }
}
@supports (display: grid) {
    .grid-wrapper {
        display: grid;
        grid-gap: $gap;
        grid-template-columns: 6;
    }
    .post-card {
        padding: calc(1rem + 0.6vw);
    }
    .item {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        grid-column: 1 / span 3;
        min-height: calc(20rem + 14vw); // key here for opening space for images
        &:nth-child(n+3){ // adjust things as they go down
            font-size: 95%;
            min-height: calc(10rem + 14vw);
            .headline-4 {
                font-size: 1.3rem;
            }
        }
    }
    // tablet or medium
    @include breakpoint(medium) {
        .item-0 {
            grid-column: 1 / span 6;
            grid-row: 1;
        }
        .item-1 {
            grid-column: 1 / span 3;
            grid-row: 2;
        }
        .item-2 {
            // align-items: start;
            grid-column: 4 / span 3;
            grid-row: 2;
        }
        .item-3 {
            grid-column: 1 / span 3;
            grid-row: 3 ;
        }
        // .item-4 {
        //     grid-column: 3 ;
        //     grid-row: 3 ;
        // }
        .item-5 {
            grid-column: 4 / span 3;
            grid-row: 3;
        }
    }
    // typical desktop
    @include breakpoint(large) {
        .post-card {
            min-width: 10em;
            max-width: 45em;    
        }
        .item {
            align-items: flex-end;
            flex-direction: row;
        }
        // .item-0 {
        //     grid-column: 1 / span 6;
        //     grid-row: 1;
        // }
        // .item-1 {
        //     grid-column: 1 / span 3;
        //     grid-row: 2;
        // }
        // .item-2 {
        //     // align-items: start;
        //     grid-column: 4 / span 2 ;
        //     grid-row: 2 / span 1;
        // }
        .item-3 {
            grid-column: 1 / span 4 ;
            grid-row: 3 ;
        }
        // // .item-4 {
        // //     grid-column: 3 / span 3 ;
        // //     grid-row: 3;
        // // }
        .item-5 {
            grid-column: 5 / span 2;
            grid-row: 3;
        }
        // .item-3, .item-4 {
        // }
    }
    // ultra-wide
    // @include breakpoint(xxlarge) {
    //     .item-0 {
    //         grid-column: 1 / span 2;
    //         grid-row: 1;
    //     }
    //     .item-1 {
    //         grid-column: 3 / span 1;
    //         grid-row: 1;
    //     }
    //     .item-2 {
    //         grid-column: 1;
    //         grid-row: 2;
    //     }
    //     .item-3 {
    //         grid-column: 2;
    //         grid-row: 2;
    //     }
    //     .item-4 {
    //         grid-column: 3;
    //         grid-row: 2 ;
    //     }
    // }
}

$bg-height: calc(8rem + 16vw);
.featured-image {
    @include breakpoint(large) {
        position: absolute;
        top:  0;
        left: 0;
        height: 100%;
        width:  100%;
    }
    background-color: $gray-4;
    overflow: hidden;
    .lozad {
        @include blur(3vw);
        transition: opacity 0.3s, filter 0.3s, -webkit-filter 0.3s, -moz-filter 0.3s, -o-filter 0.3s, -ms-filter 0.3s;
    }
    .lozad.loaded {
        @include blur(0);
        -webkit-transition-delay: 1s;
        transition-delay:         1s;
    }
}

