@charset 'utf-8';
@import '../settings';
@import '../modules/functions';
@import '../modules/colors';

// Sections
@media all and (max-width: $custom_breakpoint-mid){
    .contact{
        .main-header--white{
            border-bottom: rem-calc(1px) solid #1157e4;
        }
        .section--header-dark-group{
            h1,h2{
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
        }
    }
}

// Blocks
