// for embedded forms where we don't control the markup
@charset 'utf-8';
@import '../settings';
@import '../mixins/functions';

.hs-button {
	background-color: $success_color;
	color: white;
	font-weight: bold;
	padding: 11px 18px;
	width: 100%;
}
.hs-error-msgs li label {
	font-style: italic;
	color: darken($alert_color, 5%);
	margin-bottom: 1.2rem;
}