@charset 'utf-8';
@import '../settings';
@import '../mixins/functions';

article.content-dynamic {
    font-size: larger;
}
.form-embed {
    @include breakpoint(large) {
        margin-top: -4.5rem;
    }
    @include breakpoint(xlarge) {
        margin-top: -7rem;
    }
}
// .product-thumb {

// }