@charset 'utf-8';
@import '../settings';
@import '../../../../node_modules/foundation-sites/scss/util/_mixins.scss';
// @import '../../../../node_modules/foundation-sites/scss/components/_callout.scss';
@import '../mixins/colors';
@import '../mixins/functions';
// @import '../mixins/animation';
// @import '../vendor/slick';
// @import '../modules/masonry';
// @import '../modules/fonts-optional';

// Yes, kids, I am inlining these styles with the component partial
// .bg-video {
//     &--container {
//         position: relative;
//         overflow: hidden;
//     }
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     min-width: 100%;
//     min-height: 100%;
//     opacity: 0.3;
//     width: auto;
//     height: auto;
//     z-index: -100;
//     transform: translateX(-50%) translateY(-50%);
//     background: url('https://images.contentful.com/189dvqdsjh46/6KUM2EQZuE0e26qUysGS0e/bb2d24d7d99be25a8e875262e74044d5/dhsf-promo-poster.png') no-repeat;
//     background-size: contain;
//     transition: 1s opacity;
// }

// .section-homepage--cta-group{
//     padding: 2rem 0.5rem;
//     .card{margin-bottom: 0;}
// }
@font-face{
    src: url('/public/fonts/gt-america-thin.woff') format('woff');
    font-family: GT-America;
	font-display: optional;
    font-weight: 200;
}
.headline-1 {
	font-weight: 200;
}
// @font-face{
//     src: url('/public/fonts/gt-america-thinitalic.woff') format('woff');
//     font-family: GT-America;
// font-display: optional;
//     font-weight: 200;
//     font-style: italic;
// }