@charset 'utf-8';
@import '../settings';
@import '../modules/functions';
@import '../modules/colors';

// Section rules
.managed-integration-journey-section{
    h3{
        font-size: 1.8rem;
        font-weight: $font-weight-light;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    p{
        font-size: 1rem;
        color: $color_light;
    }
    .group{
        margin-bottom: 3.5rem;
    }
}
.compliant-cloud-build-vs-buy-masthead-section,
.managed-integration-services-masthead-section{
    blockquote{
        border: 0;
        padding: 0;
        margin: 0;
    }
}
.managed-integration-technology-security-section{
    background: url('/public/img/background-security.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
// Block rules
.managed-integration-diagram-content{
    .columns{display: none;}
    .visible-content{display: block;}
}
.managed-integration-diagram-nav{
    .column:last-child .tab:after {display: none;}
    .tab{
        position: relative;
        text-align: center;
        display: flex;
        color: $color_white;
        background-image: -webkit-linear-gradient(#4180FF 0%, #0E58EF 100%);
        background-image: -o-linear-gradient(#4180FF 0%, #0E58EF 100%);
        background-image: linear-gradient(#4180FF 0%, #0E58EF 100%);
        @include vertical-center-text();
        @include easing($timing-default);
        overflow: visible;
        &:hover{
            background-image: -webkit-linear-gradient($color_deep-alt 0%, $color_deep 100%);
            background-image: -o-linear-gradient($color_deep-alt 0%, $color_deep 100%);
            background-image: linear-gradient($color_deep-alt 0%, $color_deep 100%);
            @include easing($timing-default);
            @include transform(translate(rem-calc(0px), rem-calc(2px)));
        }
        &:after{
            position: absolute;
            content: '+';
            top: 33%;
            right: -45px;
            width: 40px;
            text-align: center;
            font-weight: $font-weight-black;
            color: $color_deep;
            font-size: 36px;
            line-height: 1;
        }
        &.last{&:after{display: none;}}
        // &:last-child {
        //     &:after {display: none;}
        // }
    }

    .active{
        color: $color_white;
        background-image: -webkit-linear-gradient($color_deep-alt 0%, $color_deep 100%);
        background-image: -o-linear-gradient($color_deep-alt 0%, $color_deep 100%);
        background-image: linear-gradient($color_deep-alt 0%, $color_deep 100%);
    }
}
@media all and (max-width: rem-calc(640px)){
    .managed-integration-diagram-nav{
        .tab{
            margin: 0 1rem;
            &:after{
                font-size: rem-calc(1.5rem);
                color: $color_talk-alt;
                top: 19%;
                right: -37px;
            }
        }
    }
}
.managed-integration-hero-one-block{
    overflow: hidden;
    position: relative;
    .clip-bg-image{
        position: absolute;
        right: rem-calc(-40px);
        top: rem-calc(-70px);
        img{
            display: block;
            max-width: rem-calc(500px);
        }
    }
}
.managed-integration-quote-block{
    blockquote{padding: 0;margin: 0;}
    .card-person{
        padding: rem-calc(10px);
        margin: rem-calc(20px) 0 0 0;
        @include border-radius(5px);
        background-color: $color_light-alt;
    }
}
// Background images on callouts
.callout {
    &--background-wand{
        position: absolute;
        z-index: 0;
        top: 0px;
        right: 0px;
        background: url('/public/img/background-wand.svg');
        width: rem-calc(250px);
        height: rem-calc(206px);
        background-size: rem-calc(250px) rem-calc(206px);
    }
    &--background-connection{
        position: absolute;
        z-index: 0;
        top: 0px;
        right: 0px;
        background: url('/public/img/background-connection.svg');
        width: rem-calc(250px);
        height: rem-calc(250px);
        background-size: rem-calc(446px) rem-calc(250px);
    }
    &--background-bolt{
        position: absolute;
        z-index: 0;
        top: 0px;
        right: 0px;
        background: url('/public/img/background-bolt.svg');
        width: rem-calc(150px);
        height: rem-calc(253px);
        background-size: rem-calc(150px) rem-calc(250px);
    }
    &--background-presentation{
        position: absolute;
        z-index: 0;
        top: 0px;
        right: 0px;
        background: url('/public/img/background-presentation.svg');
        width: rem-calc(250px);
        height: rem-calc(250px);
        background-size: rem-calc(250px) rem-calc(250px);
    }
}

// Keyframes
@-webkit-keyframes blip{
  0%{
      color: $color_talk;
      background-color: $color_deep-alt;
  }
  100%{
      color: $color_talk;
      background-color: $color_light-alt;
  }
}
@-moz-keyframes blip{
  0%{
      color: $color_talk;
      background-color: $color_deep-alt;
  }
  100%{
      color: $color_talk;
      background-color: $color_light-alt;
  }
}
@-o-keyframes blip{
  0%{
      color: $color_talk;
      background-color: $color_deep-alt;
  }
  100%{
      color: $color_talk;
      background-color: $color_light-alt;
  }
}
@keyframes blip{
  0%{
      color: $color_talk;
      background-color: $color_deep-alt;
  }
  100%{
      color: $color_talk;
      background-color: $color_light-alt;
  }
}
