@charset 'utf-8';
@import '../settings';
@import 'node_modules/foundation-sites/scss/util/_mixins.scss';
// @import '../../../../node_modules/foundation-sites/scss/components/_callout.scss';
// @import 'node_modules/foundation-sites/scss/components/_off-canvas.scss';
@import '../mixins/colors';
@import '../mixins/functions';
@import '../mixins/animation';
// @import '../vendor/slick';
// @import '../modules/masonry';
// @import '../modules/fonts-optional';
// @include foundation-off-canvas;
@keyframes fade {
    0% {
        opacity: 0;
    }
    50% { opacity: 0; }
    100% {
        opacity: 1;
    }
}
@keyframes fade-move {
    0% {
        opacity: 0;
        transform: translate3D(-6px, 0, 0);
    }
    75% {
        opacity: 0;
        transform: translate3D(-6px, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3D(0, 0, 0);
    }
}
.masthead {
    //background: linear-gradient(70.92deg, rgba(0, 107, 206, 0.5) -3.63%, rgba(0, 133, 255, 0) 26.82%), linear-gradient(112.42deg, rgba(0, 227, 186, 0.28) 0.62%, rgba(0, 227, 186, 0) 27.21%), linear-gradient(180deg, #312F2F 0%, #62605D 100%);
    /* Rectangle 2.1 */
    //background: linear-gradient(299.37deg, rgba(0, 107, 206, 0.5) -2.29%, rgba(0, 133, 255, 0) 28.36%), linear-gradient(270deg, rgba(0, 227, 186, 0.28) -17.37%, rgba(0, 227, 186, 0) 32.47%), linear-gradient(180deg, #1F1E1E 0%, #595856 100%);
    color: white;
    .sticky {
        &:not(.is-stuck) { // set initial states, before .is-stuck is set by scroll
            &[data-theme="light"] {
                .menu-item--link {
                    color: $gray-11;
                }
            }
            &[data-theme="dark"] {
                .menu-item--link {
                    color: $gray-3;
                }
            }
        }
        &.is-stuck {
            .menu-item:last-child { // highlight the CTA
                background-color: white;
                // color: white;
            }
        }
    }
    .art {
        @include abs-topleft;
        height: 100%;
        width:  100%;
        overflow: hidden;
        .art-accent { // svg art of brighter shapes. SVG needs preserveAspectRatio
            @include abs-topleft;
            width: calc(3rem + 9vw);
            transform: translate3d(4vw, 4vw, 0); // using transform vs positioning or padding
        }
        .art-light-blob {
            @include abs-topleft;
            width:  45vw;
            height: 45vw;
            // background: radial-gradient(325.62px at 50% 50%, #00E3BA 0%, rgba(0, 143, 223, 0) 100%);
            opacity: 0.8;
            // transform: translate3d(4vw, 4vw, 0);

        }
        .art-bg-fill {
            @include abs-topleft;
            height: 100%;
            width:  100%;
            &.lozad {
                @include blur(2vw);
                transition: opacity 0.3s, filter 0.3s, -webkit-filter 0.3s, -moz-filter 0.3s, -o-filter 0.3s, -ms-filter 0.3s;
            }
            &.lozad.loaded {
                @include blur(0);
                -webkit-transition-delay: 1s;
                transition-delay:         1s;
            }
        }
        .art-pattern {
            mix-blend-mode: soft-light;
            // opacity: 0.3;
        }
    }
    .masthead-icon {
        width:    calc(4rem + 5vw);
        height: calc(4rem + 5vw);
        padding-right: 1vw;
    }
}
$transition: opacity $timing-medium linear, color $timing-medium linear, background-color $timing-medium linear, transform $timing-medium ease;
.step-1, .step-2 {@include transition ($transition);}
.step-1 {
    animation: fade 1s linear both;
    transition-delay: 0.3s;       
}
.step-2 {
    animation: fade-in 0.6s ease 1s both;
}

.product-cpaas {
    .art-light-grad {
        /* grad-green-blue-cpaas - contains lighting - right grad and ball left*/
        background: radial-gradient(234.90px at 20.53% 41.54%, rgba(46, 108, 165, 0.88) 0%, rgba(28, 118, 139, 0) 100%), linear-gradient(270deg, rgba(0, 227, 186, 0.28) -6.31%, rgba(0, 227, 186, 0) 19.35%), linear-gradient(292.05deg, rgba(0, 107, 206, 0.5) -2.46%, rgba(0, 133, 255, 0) 32.01%);
        mix-blend-mode: normal;
        // background: linear-gradient(270deg, rgba(0, 227, 186, 0.28) -6.31%, rgba(0, 227, 186, 0) 19.35%), linear-gradient(297.76deg, rgba(0, 107, 206, 0.5) -2.46%, rgba(0, 133, 255, 0) 32.01%);
        // mix-blend-mode: color-dodge;
    }
    .art-light-blob {
        /* grad-green-blue-cpaas */
        background: radial-gradient(392.20px at 44.68% 42.78%, rgba(50, 102, 162, 0.88) 0%, rgba(34, 99, 173, 0.09) 82.87%, rgba(34, 99, 173, 0) 100%);
        mix-blend-mode: normal;
    }
}