@charset 'utf-8';
@import '../settings';
@import '../mixins/functions';

.article-header {
    a { // adding "anchor" icon on hover with auto-linking IDs middleman adds to articles
        @include link-anchor;
        color: $gray-3;
    }
}

.content-dynamic {
    font-size: 105%;
    p {
    	color: black;
    }
    h2 {
        font-size: 1.8rem;
    }
    & > p:last-child::after { // adds a little coda logo to end of article. Not sure how to make it hit inline last paragraph.
        @include coda;
    }
}

.headline-1 {
	font-size: 4rem;
	line-height: 1.1;
}

.featured-icon {
	max-width: 14rem;
}
.css-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    img.thumbnail {
        width: 15rem;
    }
    @include breakpoint (medium) {
        text-align: right;
    }
    // @include breakpoint (medium-large) {
    // }
}
#series {
    &[data-registered="true"] {
        section:nth-child(n+2) {
            display: block;
        }
        #please-register {
            display: none;
        }
    }
    &[data-registered="false"] {
        section:nth-child(n+2) {
            display: none;
        }
        #please-register {
            display: block;
        }
    }
}