@charset 'utf-8';
@import '../settings';
@import '../mixins/functions';
// Section rules
.services-mid-blue-section{
    .row{
        &:last-of-type{
            margin: rem-calc(50px) auto 0 auto;
            padding: rem-calc(50px) 0 0 0;
            border-top: rem-calc(1px) solid rgba(255,255,255,0.2);
        }
    }
    .callout,
    .group{margin-bottom: 0;}
}
.single-row-callout-mid-height{
    .strategic-services-clipped-bg{
        right: -5.5rem;
        top: 1rem;
        @include breakpoint(medium down){
            display: none;
        }
    }
}
