---
title: "Activation"
summary: "Activation"
author: "Datica, Inc."
tags: "compliance, HIPAA, HL7, FHIR, interoperability, EHR, integration"
date: "January 1, 2017"
share_image: "https://images.ctfassets.net/189dvqdsjh46/3Ll0a3gLi8wKG8A84mUokm/fabae03bd9e4da4e60173d4c2fe89a30/blog-share-default.png"
layout: basic
hide_from_sitemap: true
---
<div class="container-color--dark-alt">
    <%= partial "partials/snippets/header", :locals => { :style => "light" } %>
</div>
<section class="section-article">
    <div class="row align-center">
        <div class="columns small-12 medium-6">
            <div class="text-center section--header-light-group">
                <h4>Activation</h4>
                <h1>Account activation index for Backend as a Service</h1>
            </div>
        </div>
    </div>
</section>
