---
title: "Activation Success"
summary: "Activation Success"
author: "Datica, Inc."
tags: "compliance, HIPAA, HL7, FHIR, interoperability, EHR, integration"
date: "January 1, 2017"
share_image: "/public/img/share-posters/datica-social-twitter-thumb.png"
layout: basic
hide_from_sitemap: true
---
<div class="container-color--dark-alt">
    <%= partial "partials/snippets/header", :locals => { :style => "light" } %>
</div>
<section class="section-article">
    <div class="row align-center">
        <div class="columns small-12 medium-6">
            <div class="text-center section--header-light-group">
                <h4>Activation</h4>
                <h1>Thank you! Your account has been successfully activated.</h1>
                <a href="/" class="button button--primary">Go to Datica.com</a>
            </div>
        </div>
    </div>
</section>
