<!-- <h4 class="headline-5 subhead--spaced">Headers</h4> -->
<dl class="typo-styles">
    <dt>h1</dt>
    <dd>
        <h1 class="headline-1 typo-styles--demo">Headline 1</h1>
        <div class="typo-styles--desc">
            <span class="typo-styles__name">headline-1
            </span>
            <span class="typo-styles__weight">font weight 300, 58px</span>
        </div>
    </dd>
    <dt>h2</dt>
    <dd>
        <h2 class="headline-2 typo-styles--demo">Headline 2</h2>
        <div class="typo-styles--desc">
            <span class="typo-styles__name">headline-2
            </span>
            <span class="typo-styles__weight">font weight 300, 46px</span>
        </div>
    </dd>
    <dt>h3</dt>
    <dd>
        <h3 class="headline-3 typo-styles--demo">Headline 3</h3>
        <div class="typo-styles--desc">
            <span class="typo-styles__name">headline-3
            </span>
            <span class="typo-styles__weight">font weight 400, 32px</span>
        </div>
    </dd>
    <dt>h4</dt>
    <dd>
        <h4 class="headline-4 typo-styles--demo">Headline 4</h4>
        <div class="typo-styles--desc">
            <span class="typo-styles__name">headline-4
            </span>
            <span class="typo-styles__weight">font weight 700, 22px</span>
        </div>
    </dd>
    <dt>h5</dt>
    <dd>
        <h5 class="headline-5 typo-styles--demo">Headline 5</h5>
        <div class="typo-styles--desc">
            <span class="typo-styles__name">headline-5
            </span>
            <span class="typo-styles__weight">font weight 700, 18px</span>
        </div>
    </dd>
    <dt>h6</dt>
    <dd>
        <h6 class="headline-6 typo-styles--demo">Headline 6</h6>
        <div class="typo-styles--desc">
            <span class="typo-styles__name">headline-6
            </span>
            <span class="typo-styles__weight">font weight 400, italic, 16px</span>
        </div>
    </dd>
</dl>
