<%= partial "/seldon/partials/nav-mobile" %>
<main data-interchange="[./img/data-distortion-textures-@1x.png, small], [img/data-distortion-textures-@2x.png, large]" class="full-width full-height align-middle masthead container-image-fill">
  <%= partial "/seldon/partials/nav-desktop" %>
  <div class="row align-center">
    <div class="columns small-12 medium-8">
      <div class="row">
        <div class="column">
          <h1 class="header-masthead">Style Guide & Examples</h1>
          <h2 class="masthead--subheader">Built with Middleman, Contentful, and Markdown.</h2>
          <p class="lead">Below are a few demo pages from the Echo II Guide project.</p>
        </div>
      </div>
      <div class="row small-up-1 medium-up-2 large-up-3">
        <div class="column">
          <div class="callout"><a href="/guide/blocks" title="Explore Content Blocks &amp; Structures">
              <h4>Content Blocks &amp; Structures</h4></a>
            <p>These larger-level structures work well from mobile to desktop extra-wide, and have many options like padding, image backgrounds, and color classes.</p>
          </div>
        </div>
        <div class="column">
          <div class="callout"><a href="/guide/typography" title="Explore Typography">
              <h4>Typography</h4></a>
            <p>Basic typography styles and formatting.</p>
          </div>
        </div>
        <div class="column">
          <div class="callout"><a href="/guide/components" title="Explore Components">
              <h4>Components</h4></a>
            <p>Cards and other elements.</p>
          </div>
        </div>
        <div class="column">
          <div class="callout"><a href="/guide/content-lists" title="Explore Content Lists">
              <h4>Content Lists</h4></a>
            <p>Sample content lists for collections of content</p>
          </div>
        </div>
        <div class="column">
          <div class="callout"><a href="/guide/ui" title="Explore User Interface Elements">
              <h4>User Interface Elements</h4></a>
            <p>Various UI patterns</p>
          </div>
        </div>
        <div class="column">
          <div class="callout"><a href="/guide/forms" title="Explore Forms &amp; Inputs">
              <h4>Forms &amp; Inputs</h4></a>
            <p>Form styling, based on Foundation’s form page</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
