<nav data-responsive-toggle="site-menu" data-hide-for="medium" class="title-bar row hide-for-medium">
  <button type="button" data-toggle="" class="menu-icon"></button>
  <div class="title-bar-title">Menu</div>
</nav>
