---
title: "Datica Careers"
summary: "Open job positions and hiring information at Datica"
author: "Datica, Inc."
tags: "careers, training, education, HIPAA, HL7, FHIR, interoperability, EHR, integration, resource"
date: "January 1, 2017"
share_image: "https://images.ctfassets.net/189dvqdsjh46/3F7pN27NuUcoCsKYAoCsMK/9ef68ed5d5376797554288293baaa5df/datica-careers-share-color.jpg?w=800"
layout: "company"
---
<style type="text/css">
    .BambooHR-ATS-board h2 {
        font-size: 1.1rem; 
        font-weight: bold;
        font-family: "GT-America", "Roboto", sans-serif;
    }
</style>
<section class="section-article container-color--dark container-image--fixed" data-interchange="[https://images.ctfassets.net/189dvqdsjh46/XrCee61laEeWoWoS6CAcI/87fd440f962b520710059ad071b869cb/background-events.jpg, small]">
    <div class="row align-center">
        <div class="columns small-12 large-8 text-center">
            <h4 class="headline-6 subheader--spaced-out text--yellow-glow">Careers</h4>
            <h1 class="headline-3">Help us help healthcare adopt the cloud</h1>
            <%= 
                partial "partials/snippets/button", 
                    :locals => {
                        :label => "See open positions", 
                        :title => "See open positions at Datica", 
                        :url => "#jobs", 
                        # :rel => "", 
                        :button_classes => "button hollow hollow-inverted", 
                        :icon => "icon-chevron-down", 
                        :icon_color => "white", 
                        :icon_align => "right"
                    }
            %>
        </div>
    </div>
</section>
<section class="section-article container-gray-12">
    <div class="row align-middle align-center">
        <div class="columns small-12 medium-5">
            <img class="group" src="https://images.ctfassets.net/189dvqdsjh46/1317Z506pieQaAIqmuMKK6/eec0c0a27e665c79a3a4f0be30db6b72/company-3.jpg?fit=crop&w=800&h=360" alt="Madison, WI" />
            <img class="group" src="https://images.ctfassets.net/189dvqdsjh46/7ugfd60MRa2o4uqy4CiGyS/5b2b8be926c820195ecdd74c424e569a/company-4.jpg?w=800" alt="Datica Company Photo" />
            <img class="group" src="https://images.ctfassets.net/189dvqdsjh46/4KnuEp6gDe2MwOIqIKuKUk/66b11ef15d7a8bcc0dd174a6a5279043/datica_team_-_hall_chat_2_P1040676.jpg" alt="Datica Company Photo" />
            <%            
                # <p class="text-center">
                #     <iframe frameborder='0' height='225px' src='https://app.tinypulse.com/happiness_badges/9f32d88ccff431ab5f9d67ce35cf7405' width='235px'>
                #     </iframe>
                # </p>
            %>

        </div>
        <div class="columns small-12 medium-7">
            <div class="callout drop callout--large">
                <p class="lead">Datica has offices in Madison and Seattle, but we are also a distributed team, with members working across 10+ states. We value team members who contribute and thrive, regardless of geography and timezone.</p>
                <div class="group">
                    <h4 class="headline-6">Benefits</h4>
                    <ul>
                        <li>Medical and Dental Plan, Datica covers 100% of single premiums, and the majority of premiums for family coverage.</li>
                        <li>Flex Spending Accounts offered (both medical and dependent care).</li>
                        <li>A 401k plan, as well as stock options.</li>
                        <li>We have an open vacation policy that allows for unlimited planned time off, as well as personal days as needed.</li>
                        <li>Awesome swag at different intervals as well.</li>
                    </ul>
                </div>
                <div class="group">
                    <h4 class="headline-6">Work style</h4>
                    <ul>
                        <li>Super flexible working hours.</li>
                        <li>Agile development with two week sprints and daily standups.</li>
                        <li>Central communication is done via Slack.</li>
                        <li>Full internal transparency, monthly company virtual meetings.</li>
                        <li>Time periods for personal learning and growth.</li>
                        <li>Autonomous work with regular check-ins.</li>
                        <li>We celebrate achievements together, both large and small.</li>
                    </ul>
                </div>
                <!-- <h4 class="headline-6">Open Positions</h4> -->
                <p id="jobs">Datica is always looking for talented new team members. If you are curious about career opportunities with Datica, please email Maggie Ostrowski at <a href="mailto:maggie@datica.com">maggie@datica.com</a>.</p>
                <div id="BambooHR"><script src="//datica.bamboohr.com/js/jobs2.php" type="text/javascript"></script><div id="BambooHR-Footer">Powered by<a href="http://www.bamboohr.com" target="_blank" rel="external"><img src="//www.bamboohr.com/img/footer-logo.png" alt="BambooHR - HR software"/></a></div></div>
            </div>
        </div>
    </div>
</section>
