---
title: "Nav development"
summary: "The leadership team behind Datica"
author: "Datica, Inc."
tags: "leadership, strategy, people"
share_image: "https://images.ctfassets.net/189dvqdsjh46/3Ll0a3gLi8wKG8A84mUokm/fabae03bd9e4da4e60173d4c2fe89a30/blog-share-default.png"
layout: testing
hide_from_sitemap: true
---

.container-gray-2
  = partial "partials/head/header", :locals => { :style => "dark" }

.container-gray-12.show-for-large
  = partial "partials/head/header", :locals => { :style => "light" }