<%
banner_small = "https://images.ctfassets.net/189dvqdsjh46/2rm8elo7eYo0M2Y6oQaau2/c52b09c6b159f616dfa76d7d6cd7cfc5/cta-webinar-oci-mirth-1-ad-share.jpg?w=700"
banner_wide = "https://images.ctfassets.net/189dvqdsjh46/1lG3yUYayw6QaecUo4eOK2/23b2806ea2bce848d6bda9f99a868288/webinar-oci-mirth-1-banner-wide.jpg"
%>

<aside class="cta cta--image">
    <a class="" title="Get a tour of Datica’s new open-source HL7 APIs and their HIPAA-compliant capabilities with Mark Olschesky, Datica's Chief Data Officer. Join us 12pm CST, December 15th." href="https://content.datica.com/introduction-to-oci-mirth-connect-and-open-source-transforms-dec-15-2017"><img alt="Webinar Dec. 15" data-interchange="[<%= banner_wide %>, small],[<%= banner_small %>, large]"></a>
</aside>