<!-- cta -->
<section id="ctaBottom" class="section-article container-color--dark-alt container-image--center" data-interchange="[https://images.contentful.com/189dvqdsjh46/24KaYDLfRW40mKMOuKEgsS/04a4779c83f98738cc15c9f37b636192/platform-integration-inverted-bg.png?w=1600&h=500&fit=crop, medium]">
<!-- <section id="ctaBottom" class="section-article container-image--center container-gray-12" data-interchange="[/public/img/bg/blur-colored-bg-4.jpg, small]"> -->
    <div class="row align-center">
        <div class="columns small-12 large-8">
            <aside class="text-center">
                <!-- <img src="" alt="icon" class="inject-me svg-color--white"> -->
                <div class="">
                    <h3 class="headline-3">Get Started Today</h3>
                    <div class="lead">Explore our pricing options</div>
                    <a class="button button--neat cta-button" href="/pricing" title="See pricing and sign up free"> View pricing information <i class="fa fa-angle-right"></i></a>
                </div>
            </aside>
        </div>
    </div>
</section>
