<aside class="callout callout--dark group<% if defined?(classes) %> <%= classes %><% end %>">
    <h4 class="subheader-small">Documentation &amp; Resources</h3>
    <a class="link--white" title="Read Documentation and Resources" href="https://help.datica.com/hc/en-us">
		<%= inline_svg("icon-code", class: "float-right icon-size--medium svg-color--white") %>
	</a>
    <p class="no-margin">Looking for technical details and guides? <a class="link--white" title="Read Documentation and Resources" href="https://help.datica.com/hc/en-us">Start here <i class="fa fa-angle-right"></i></a></p>
</aside>