<!-- cta -->
<section id="ctaBottom" class="section-article section--cta-blue container-image--center" data-interchange="[/public/img/bg/platform-integration-inverted-bg.png, medium]">
<!-- <section id="ctaBottom" class="section-article container-image--center container-gray-12" data-interchange="[/public/img/bg/blur-colored-bg-4.jpg, small]"> -->
    <div class="row align-center">
        <div class="columns small-12 large-8">
            <aside class="text-center">
                <!-- <img src="" alt="icon" class="inject-me svg-color--white"> -->
                <div class="">
                    <h3 class="headline-3">Contact us today for project scoping and pricing</h3>
                    <!-- <div class="lead">Explore our pricing options</div> -->
                    <a class="button button--light" href="#" title="Request information"> Request information <i class="fa fa-angle-right"></i></a>
                </div>
            </aside>
        </div>
    </div>
</section>
