<!-- cta -->
<section id="ctaBottom" class="section-article section--cta-blue container-image--center" data-interchange="[https://images.ctfassets.net/189dvqdsjh46/24KaYDLfRW40mKMOuKEgsS/04a4779c83f98738cc15c9f37b636192/platform-integration-inverted-bg.png?w=1600&h=500&fit=crop, medium]">
    <div class="row align-center">
        <div class="columns small-12 large-8">
            <aside class="text-center">
                <div class="">
                    <h3 class="headline-3">Contact us today for project scoping and pricing</h3>
                    <a class="button button--light" href="#" title="Request information"> Request information <i class="fa fa-angle-right"></i></a>
                </div>
            </aside>
        </div>
    </div>
</section>
